In [ ]:
# 여러 언론사
total_news = pd.DataFrame(columns=['title','url',"date",'oid'])
for oid in tqdm(['023','028']):
    for date in (pd.date_range('20230401','20230423')):
        date = date.strftime("%Y%m%d")

        url = f"https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid={oid}&date={date}&page=10000"
        bs = get_bs_from_url(url)
        last_page_num = int(bs.select('.paging > strong')[0].text.strip())


        for page in range(1, last_page_num+1):
            url = f"https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid={oid}&date={date}&page={page}"
            bs = get_bs_from_url(url)

            title = [tag.text.strip() for tag in bs.select('div.list_body.newsflash_body li dt')[1::2]] 
            urls = [bs.select('a')[0].get("href") for bs in bs.select('div.list_body.newsflash_body li dt')[1::2]]

            news = pd.DataFrame({
            "date" : date,
            'title' : title,
            'url' : urls,
            'oid' : oid
            })
            
            total_news = pd.concat([total_news,news])\

In [ ]:
# 날짜 데이터 변경 시 참고
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d', errors='coerce')
df['date'] = pd.to_datetime(df['date'], format='%Y.%m.%d. %p %I:%M', errors='coerce')
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [ ]:
# 데이터 전처리
# 1. 링크 칼럼 삭제, 데이터 중복 확인, 'None'값 확인
# df = pd.read_excel('test.xlsx', index_col=None)
# df.drop(columns = ['link'], inplace = True)
# df[df.duplicated(keep = False)]
# df[df['title'] == 'None']

In [2]:
import pandas as pd
import numpy as np

In [ ]:
df_20211001 = pd.read_excel('/content/2021.10.01 ~ 2021.12.31.xlsx', index_col = 0)
df_20211001.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1308 entries, 0 to 1307
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1308 non-null   object
 1   name     1308 non-null   object
 2   title    1308 non-null   object
 3   content  1308 non-null   object
 4   link     1308 non-null   object
dtypes: object(5)
memory usage: 61.3+ KB

In [ ]:
df_20211001.head()

,date,name,title,content,link
0,2021-12-31,뉴시스,서울 아파트 7주째 '팔자' 많아…세종 매수심리 6년9개월래 최저,"기사내용 요약부동산원, 매매수급지수 93.5…전주 93.9에서 추가 하락 최근 7...",https://n.news.naver.com/mnews/article/003/001...
1,2021-12-31,연합뉴스,전국 아파트 고가-저가 매매·전세가 격차 역대 최대,상위 20%가 하위 20%보다 매매가 9.5배·전셋값 7.5배 높아전국 아파트 고가...,https://n.news.naver.com/mnews/article/001/001...
2,2021-12-30,이데일리,서울아파트 1채 팔면 경북 집 6.6채 산다,"서울집 평균 11.5억, 경북집은 1.7억文정부서 대도시 89%, 지방 30% 상승...",https://n.news.naver.com/mnews/article/018/000...
3,2021-12-31,국민일보,강북·도봉에 은평까지… 아파트값 줄줄이 하락 반전,"부동산원, 12월 가격동향 조사수도권 상승률 둔화도 두드러져서울 전체 전셋값 상승 ...",https://n.news.naver.com/mnews/article/005/000...
4,2021-12-30,더팩트,서울 강북·도봉 아파트값 '하락 전환'…세종 낙폭 최대,30일 한국부동산원이 발표한 12월 넷째 주 주간 아파트 가격동향에 따르면 전국 아...,https://n.news.naver.com/mnews/article/629/000...

In [ ]:
df_20211001[df_20211001['date'] == 'None']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['date'] == '']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['date'].isna()]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['name'] == 'None']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['name'] == '']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['name'].isna()]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['title'] == 'None']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['title'] == '']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['title'].isna()]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['content'] == 'None']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['content'] == '']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001['content'].isna()]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001[df_20211001.duplicated(keep = False)]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
df_20211001.drop(columns = ['link'], inplace = True)
df_20211001.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1308 entries, 0 to 1307
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1308 non-null   object
 1   name     1308 non-null   object
 2   title    1308 non-null   object
 3   content  1308 non-null   object
dtypes: object(4)
memory usage: 51.1+ KB

In [ ]:
df_20211001.head()

,date,name,title,content
0,2021-12-31,뉴시스,서울 아파트 7주째 '팔자' 많아…세종 매수심리 6년9개월래 최저,"기사내용 요약부동산원, 매매수급지수 93.5…전주 93.9에서 추가 하락 최근 7..."
1,2021-12-31,연합뉴스,전국 아파트 고가-저가 매매·전세가 격차 역대 최대,상위 20%가 하위 20%보다 매매가 9.5배·전셋값 7.5배 높아전국 아파트 고가...
2,2021-12-30,이데일리,서울아파트 1채 팔면 경북 집 6.6채 산다,"서울집 평균 11.5억, 경북집은 1.7억文정부서 대도시 89%, 지방 30% 상승..."
3,2021-12-31,국민일보,강북·도봉에 은평까지… 아파트값 줄줄이 하락 반전,"부동산원, 12월 가격동향 조사수도권 상승률 둔화도 두드러져서울 전체 전셋값 상승 ..."
4,2021-12-30,더팩트,서울 강북·도봉 아파트값 '하락 전환'…세종 낙폭 최대,30일 한국부동산원이 발표한 12월 넷째 주 주간 아파트 가격동향에 따르면 전국 아...

In [ ]:
# 2. 날짜로 오름차순, 인덱스 리셋
# df.sort_values(by = 'date')
# df.reset_index(drop = True, inplace = True)

In [ ]:
df_20211001 = df_20211001.sort_values(by = 'date')
df_20211001.head(10)

,date,name,title,content
960,2021-10-03,연합뉴스,2030 서울아파트 매매 절반 이상,(서울=연합뉴스) 홍해인 기자 = 정부의 부동산 규제 정책 등으로 올해 아파...
1305,2021-10-04,매일경제,"[단독] ""세금 폭탄에 매물 쏟아진다더니""…1년새 서울 경기 아파트 2만채 사라졌다",작년 7·10이후 다주택자 매매 현황 분석서울 아파트 매도건수 37% 뚝'稅중과로 ...
991,2021-10-05,뉴스1,서울 아파트 평균 매매가 12억 육박,(서울=뉴스1) 오대일 기자 = 서울의 평균 아파트값이 올해 들어서만 1억 5천만 ...
1297,2021-10-05,매일경제,"""이젠 화도 안난다""…서울 아파트값 평균 12억 육박, 올해만 1.5억 올랐다","강북권 9억5000만원, 강남권 14억원 돌파경기 전달比 2292만원↑ 인천 4억..."
990,2021-10-05,뉴스1,서울 아파트 평균 매매가격 12억원 돌파 눈앞,(서울=뉴스1) 오대일 기자 = 서울의 평균 아파트값이 올해 들어서만 1억 5천만 ...
937,2021-10-05,머니투데이,언제 내릴까..서울 아파트 평균 매매가격 12억원 돌파 눈앞,서울 용산구 남산N서울타워에서 바라본 도심 아파트단지. /사진제공=뉴스1서울 아파트...
1298,2021-10-05,중앙일보,강북 아파트도 절반이 9억 넘겼다…서울 집값 상승률 최고치 경신,KB국민은행 9월 주택가격 동향강북 아파트 중위가격 9억500만원 북서울꿈의숲에...
1304,2021-10-05,SBS,"서울 평균 아파트값, 12억 원 육박…올해 1억5천만 원 이상 ↑",서울의 평균 아파트값이 올해 들어서만 1억5천만 원 넘게 오르며 약 12억 원에 육...
1294,2021-10-06,국민일보,강북 중위 아파트 9억 넘겨… 올해만 서울 평균 1억5000만원 급등,서울 아파트값 평균 12억원 ‘눈앞’ 강북 패닉바잉으로 실수요자 몰려 강남권 아...
1306,2021-10-06,세계일보,서울 평균 아파트값 12억 육박,올해 들어 1억5000만원 넘게 올라 뉴스1 서울 평균 아파트 매매가격이...

In [ ]:
df_20211001.reset_index(drop = True, inplace = True)
df_20211001.head(10)

,date,name,title,content
0,2021-10-03,연합뉴스,2030 서울아파트 매매 절반 이상,(서울=연합뉴스) 홍해인 기자 = 정부의 부동산 규제 정책 등으로 올해 아파...
1,2021-10-04,매일경제,"[단독] ""세금 폭탄에 매물 쏟아진다더니""…1년새 서울 경기 아파트 2만채 사라졌다",작년 7·10이후 다주택자 매매 현황 분석서울 아파트 매도건수 37% 뚝'稅중과로 ...
2,2021-10-05,뉴스1,서울 아파트 평균 매매가 12억 육박,(서울=뉴스1) 오대일 기자 = 서울의 평균 아파트값이 올해 들어서만 1억 5천만 ...
3,2021-10-05,매일경제,"""이젠 화도 안난다""…서울 아파트값 평균 12억 육박, 올해만 1.5억 올랐다","강북권 9억5000만원, 강남권 14억원 돌파경기 전달比 2292만원↑ 인천 4억..."
4,2021-10-05,뉴스1,서울 아파트 평균 매매가격 12억원 돌파 눈앞,(서울=뉴스1) 오대일 기자 = 서울의 평균 아파트값이 올해 들어서만 1억 5천만 ...
5,2021-10-05,머니투데이,언제 내릴까..서울 아파트 평균 매매가격 12억원 돌파 눈앞,서울 용산구 남산N서울타워에서 바라본 도심 아파트단지. /사진제공=뉴스1서울 아파트...
6,2021-10-05,중앙일보,강북 아파트도 절반이 9억 넘겼다…서울 집값 상승률 최고치 경신,KB국민은행 9월 주택가격 동향강북 아파트 중위가격 9억500만원 북서울꿈의숲에...
7,2021-10-05,SBS,"서울 평균 아파트값, 12억 원 육박…올해 1억5천만 원 이상 ↑",서울의 평균 아파트값이 올해 들어서만 1억5천만 원 넘게 오르며 약 12억 원에 육...
8,2021-10-06,국민일보,강북 중위 아파트 9억 넘겨… 올해만 서울 평균 1억5000만원 급등,서울 아파트값 평균 12억원 ‘눈앞’ 강북 패닉바잉으로 실수요자 몰려 강남권 아...
9,2021-10-06,세계일보,서울 평균 아파트값 12억 육박,올해 들어 1억5000만원 넘게 올라 뉴스1 서울 평균 아파트 매매가격이...

In [ ]:
df_20211001.to_excel('/content/2021.10.01 ~ 2021.12.31.xlsx')

In [ ]:
df_test = pd.read_excel('/content/2020.07.01 ~ 2020.09.30.xlsx', index_col = None)
df_test.head()

,Unnamed: 0,date,name,title,content
0,0,2020-04-01,머니S,서울 아파트 매매… 30·40 젊은층이 '60.5%',서울시내 한 아파트 밀집 지역. /사진=뉴스1 DB‘코로나19 쇼크’로 올 상반기 ...
1,1,2020-04-01,아이뉴스24,서울 아파트 매매價 정체 심화…준전세 비중·가격은 '오름세',"""전세價 상승여력 높은 지역 위주, 준전세 임차전환과 가격상승 가능성↑""[아이뉴스2..."
2,2,2020-04-01,아시아경제,지난달(03월) 아파트 매매 실거래가,지난 03월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
3,3,2020-04-01,조선일보,서울 아파트값 평균이 9억원...강북 풍선효과 영향,/조선닷컴서울 한강변 아파트 모습지난달 서울 아파트 평균 매매가격이 처음으로 정부의...
4,4,2020-04-01,국민일보,"‘3월 아파트 가격 상승률’ 풍선효과 뚜렷, 서울↓ 인천·경기↑",정부가 부동산대책을 발표하면 규제를 피해 비규제지역 집값이 뛰는 ‘풍선 효과’가 수...

In [ ]:
# 3. 분기별 데이터 하나로 합치기
# result = pd.concat([df1, df2]).reset_index(drop=True)

In [ ]:
df_20200101 = pd.read_excel('/content/2020.01.01 ~ 2020.03.31.xlsx', index_col = None)
df_20200401 = pd.read_excel('/content/2020.04.01 ~ 2020.06.30.xlsx', index_col = None)
df_20200701 = pd.read_excel('/content/2020.07.01 ~ 2020.09.30.xlsx', index_col = None)
df_20201001 = pd.read_excel('/content/2020.10.01 ~ 2020.12.31.xlsx', index_col = None)
df_20210101 = pd.read_excel('/content/2021.01.01 ~ 2021.03.31.xlsx', index_col = None)
df_20210401 = pd.read_excel('/content/2021.04.01 ~ 2021.06.30.xlsx', index_col = None)
df_20210701 = pd.read_excel('/content/2021.07.01 ~ 2021.09.30.xlsx', index_col = None)
df_20211001 = pd.read_excel('/content/2021.10.01 ~ 2021.12.31.xlsx', index_col = None)

In [ ]:
df_20200101.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1122 entries, 0 to 1121
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1122 non-null   object
 1   name     1122 non-null   object
 2   title    1122 non-null   object
 3   content  1122 non-null   object
dtypes: object(4)
memory usage: 35.2+ KB

In [ ]:
result = pd.concat([df_20200101, df_20200401, df_20200701, df_20201001, df_20210101, df_20210401, df_20210701, df_20211001]).reset_index(drop=True)
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10451 entries, 0 to 10450
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10451 non-null  int64
 1   date        10451 non-null  object
 2   name        10451 non-null  object
 3   title       10451 non-null  object
 4   content     10451 non-null  object
dtypes: int64(1), object(4)
memory usage: 408.4+ KB

In [ ]:
result.head()

,Unnamed: 0,date,name,title,content
0,0,2020-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
1,1,2020-01-01,서울경제,12·16대책 전 한달간 서울 아파트값 1.24% 상승,[서울경제] 12·16 대책 시행 전 한 달여 동안 서울 아파트 매매가격이 1.24...
2,2,2020-01-02,한국경제TV,서울 아파트값 2주 연속 상승폭 축소…12·16대책 영향,정부의 고강도 부동산 규제인 12·16 부동산 대책 이후 서울 아파트 가격 상승폭이...
3,3,2020-01-02,이데일리,12·16 약발?…과천 아파트값 결국 꺾였다,- 감정원 '12월 5주 주간 아파트 매매동향' 발표- 서울 아파트값 0.08% 상...
4,4,2020-01-02,파이낸셜뉴스,"12·16대책 약발, 서울 아파트 값 상승폭 둔화 뚜렷","서울 아파트 값 2주 연속 상승폭 축소 중 ""9·13대책 후 상승폭 줄던 서울 아파..."

In [ ]:
result.tail()

,Unnamed: 0,date,name,title,content
10446,1303,2021-12-31,한국경제,"""새해에도 집값 오른다…'돈줄 죄기'로 상승폭 크진 않을 듯""",2022 부동산 시장 전망은주택 매매가 2.5% 상승 전망신규공급 줄어 '시장 불안...
10447,1304,2021-12-31,문화일보,전국 고가·저가 아파트값 격차 10억 ‘역대 최대’,이달 상위20% 평균매매가 11억 하위 20% 평균은 1억2491만원 통계작성후 1...
10448,1305,2021-12-31,SBS Biz,"[오후초대석] 주택산업硏 “내년 집값 오른다”…매매 2.5%, 전월세 3.5% 상승 전망",■ 경제현장 오늘 '오후초대석' - 서종대 주택산업연구원 대표해를 넘기면서 부동산 ...
10449,1306,2021-12-31,매일경제,새 아파트 값 하락하는데…노후단지는 버티기,매도우위 속 양극화 뚜렷20년 초과한 노후 아파트재건축 기대에 상대적 강세서울 성동...
10450,1307,2021-12-31,뉴시스,서울 아파트 7주째 '팔자' 많아…세종 매수심리 6년9개월래 최저,"기사내용 요약부동산원, 매매수급지수 93.5…전주 93.9에서 추가 하락 최근 7..."

In [ ]:
result = result.sort_values(by = 'date')
result.head(10)

,Unnamed: 0,date,name,title,content
0,0,2020-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
1,1,2020-01-01,서울경제,12·16대책 전 한달간 서울 아파트값 1.24% 상승,[서울경제] 12·16 대책 시행 전 한 달여 동안 서울 아파트 매매가격이 1.24...
24,24,2020-01-02,MBC,12월 5주째 서울 아파트 가격 상승폭 축소…과천은 마이너스,정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주 연속 축소...
23,23,2020-01-02,한국경제,9억원 미만 '규제 풍선효과'…경기·인천 아파트값 급등세 지속,한국감정원 주간 시세수원 영통 0.81% '최고 상승률'서울 양천구 전셋값 0.61...
22,22,2020-01-02,부산일보,해·수·동 아파트 가격 오름세 주춤,부산 해운대구 마린시티 일대 전경. 부산일보DB12월 마지막 주 부산 해운대·수영·...
21,21,2020-01-02,이데일리,주택 규제하니 오피스텔 ‘꿈틀’…서울 오피스텔 매매가↑,한국감정원 작년 4분기 오피스텔 가격동향조사전국 오피스텔 2019년 4분기 가격지수...
20,20,2020-01-02,머니투데이,'수원 영통구' 전국 주간 아파트 상승률 1위...까닭은,[머니투데이 조한송 기자] [전국 아파트 매매가격 변동률 전주 대비 0.09% 상승...
19,19,2020-01-02,머니투데이,서울 아파트 '10억 클럽' 확산 빨라지나,[머니투데이 송선옥 기자] [DMC센트럴아이파크 84㎡ 호가 1억 껑충 10억 돌파...
17,17,2020-01-02,한국경제,‘12·16 대책’ 약발 먹혔나…서울 아파트값 2주째 상승폭 축소,급등을 거듭하던 서울 아파트값이 '12·16 부동산 대책' 시행 이후 상승세가 한풀...
16,16,2020-01-02,MBC,12·16 대책 후 서울 아파트값 상승 폭 2주 연속 둔화,[5시뉴스]정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주...

In [ ]:
result.reset_index(drop = True, inplace = True)
result.drop(columns = ['Unnamed: 0'], inplace = True)
result.head(10)

,date,name,title,content
0,2020-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
1,2020-01-01,서울경제,12·16대책 전 한달간 서울 아파트값 1.24% 상승,[서울경제] 12·16 대책 시행 전 한 달여 동안 서울 아파트 매매가격이 1.24...
2,2020-01-02,MBC,12월 5주째 서울 아파트 가격 상승폭 축소…과천은 마이너스,정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주 연속 축소...
3,2020-01-02,한국경제,9억원 미만 '규제 풍선효과'…경기·인천 아파트값 급등세 지속,한국감정원 주간 시세수원 영통 0.81% '최고 상승률'서울 양천구 전셋값 0.61...
4,2020-01-02,부산일보,해·수·동 아파트 가격 오름세 주춤,부산 해운대구 마린시티 일대 전경. 부산일보DB12월 마지막 주 부산 해운대·수영·...
5,2020-01-02,이데일리,주택 규제하니 오피스텔 ‘꿈틀’…서울 오피스텔 매매가↑,한국감정원 작년 4분기 오피스텔 가격동향조사전국 오피스텔 2019년 4분기 가격지수...
6,2020-01-02,머니투데이,'수원 영통구' 전국 주간 아파트 상승률 1위...까닭은,[머니투데이 조한송 기자] [전국 아파트 매매가격 변동률 전주 대비 0.09% 상승...
7,2020-01-02,머니투데이,서울 아파트 '10억 클럽' 확산 빨라지나,[머니투데이 송선옥 기자] [DMC센트럴아이파크 84㎡ 호가 1억 껑충 10억 돌파...
8,2020-01-02,한국경제,‘12·16 대책’ 약발 먹혔나…서울 아파트값 2주째 상승폭 축소,급등을 거듭하던 서울 아파트값이 '12·16 부동산 대책' 시행 이후 상승세가 한풀...
9,2020-01-02,MBC,12·16 대책 후 서울 아파트값 상승 폭 2주 연속 둔화,[5시뉴스]정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주...

In [ ]:
result.to_excel('/content/merge(2020 ~ 2021).xlsx')

In [ ]:
# 4. 언론사별 기사 수 확인
# df['name'].value_counts()

In [ ]:
result['name'].value_counts()[:40]

뉴시스        621
헤럴드경제      558
한국경제       555
매일경제       526
뉴스1        508
서울경제       485
연합뉴스       449
이데일리       384
머니투데이      380
아시아경제      370
머니S        317
파이낸셜뉴스     306
조선비즈       294
디지털타임스     280
국민일보       273
동아일보       268
세계일보       261
SBS Biz    258
데일리안       243
중앙일보       224
조선일보       216
YTN        210
KBS        199
노컷뉴스       169
경향신문       165
한국일보       159
서울신문       158
한국경제TV     152
아이뉴스24     148
문화일보       121
MBN        120
SBS        100
TV조선        97
연합뉴스TV      95
더팩트         93
MBC         83
한겨레         74
매경이코노미      52
조세일보        47
스포츠서울       45
Name: name, dtype: int64

In [ ]:
result['name'].value_counts()[-20:]

일간스포츠       13
한경비즈니스      12
주간동아        11
강원일보        11
프레시안        10
스포츠경향        9
중앙SUNDAY     8
전자신문         7
주간조선         5
신동아          2
스포츠동아        2
시사IN         1
주간경향         1
뉴스타파         1
MK스포츠        1
스포츠월드        1
정책브리핑        1
한겨레21        1
마이데일리        1
디지털데일리       1
Name: name, dtype: int64

In [ ]:
result[result['name'] == '비즈워치'].count()

date       27
name       27
title      27
content    27
dtype: int64

In [ ]:
df_20200401['name'].value_counts()

뉴시스         107
서울경제         88
매일경제         83
한국경제         76
조선비즈         74
헤럴드경제        73
머니투데이        67
이데일리         60
연합뉴스         53
디지털타임스       49
아시아경제        48
파이낸셜뉴스       39
뉴스1          38
동아일보         34
조선일보         32
SBS Biz      31
머니S          31
국민일보         31
데일리안         27
중앙일보         22
한국경제TV       22
경향신문         18
KBS          17
서울신문         17
YTN          16
MBN          15
한국일보         15
문화일보         15
노컷뉴스         13
세계일보         13
아이뉴스24       10
조세일보          9
MBC           9
SBS           9
연합뉴스TV        8
매경이코노미        7
TV조선          7
한겨레           6
스포츠조선         6
채널A           5
JTBC          4
스포츠서울         4
오마이뉴스         4
더팩트           3
스포츠동아         2
한경비즈니스        2
일간스포츠         2
여성신문          2
스포츠경향         2
부산일보          2
주간동아          1
마이데일리         1
시사저널          1
중앙SUNDAY      1
한겨레21         1
프레시안          1
스타뉴스          1
Name: name, dtype: int64

In [ ]:
df_20200101['name'].value_counts()

머니S        87
헤럴드경제      78
매일경제       72
서울경제       70
머니투데이      68
한국경제       64
이데일리       63
뉴시스        47
파이낸셜뉴스     40
뉴스1        38
데일리안       37
아시아경제      37
연합뉴스       34
국민일보       30
조선일보       25
SBS Biz    24
디지털타임스     23
세계일보       20
동아일보       19
서울신문       19
문화일보       19
중앙일보       18
한국경제TV     18
조선비즈       14
한국일보       13
MBN        12
한겨레        11
경향신문       10
MBC        10
아이뉴스24     10
SBS         9
YTN         9
조세일보        8
더팩트         7
노컷뉴스        7
스포츠서울       6
연합뉴스TV      6
매경이코노미      6
오마이뉴스       5
스포츠조선       4
매일신문        3
TV조선        2
한경비즈니스      2
전자신문        2
KBS         2
부산일보        2
스포츠경향       2
일간스포츠       2
채널A         2
주간동아        1
정책브리핑       1
JTBC        1
MK스포츠       1
주간조선        1
시사저널        1
Name: name, dtype: int64

In [ ]:
df_kb = pd.read_excel('/content/월간 아파트 매매가격지수_2018.01 ~ 2022.12.xlsx', index_col = None)
df_kb.head()

,지역명,2018-01-01 09:00:52,2018-02-01 09:00:52,2018-03-01 09:00:52,2018-04-01 09:00:52,2018-05-01 09:00:52,2018-06-01 09:00:52,2018-07-01 09:00:52,2018-08-01 09:00:52,2018-09-01 09:00:52,...,2022-04-01 09:00:52,2022-05-01 09:00:52,2022-06-01 09:00:52,2022-07-01 09:00:52,2022-08-01 09:00:52,2022-09-01 09:00:52,2022-10-01 09:00:52,2022-11-01 09:00:52,2022-12-01 09:00:52,18.01 ~ 22.12
0,서울,65.602,66.249,67.080,67.624,67.893,68.158,68.518,69.318,71.976,...,100.256,100.469,100.603,100.638,100.492,100.297,99.627,98.216,96.810,47.570894
1,강북14개구,65.007,65.455,66.207,66.682,66.946,67.191,67.569,68.243,70.823,...,100.149,100.273,100.337,100.326,100.134,99.909,99.110,97.613,96.317,48.163088
2,종로구,76.823,77.001,77.831,78.296,78.598,78.947,79.251,79.511,81.167,...,100.301,100.961,101.313,101.438,101.411,101.400,101.293,101.099,100.987,31.452808
3,중구,71.795,72.262,72.996,73.399,73.602,73.963,74.397,74.969,76.605,...,100.055,100.161,100.237,100.309,100.236,100.174,99.754,99.293,97.478,35.774047
4,용산구,67.524,68.343,69.736,70.501,70.958,71.275,71.830,72.955,75.847,...,100.703,101.684,102.413,102.620,102.668,102.666,102.530,102.463,102.041,51.119216

In [ ]:
df_kb.columns

Index([              '지역명', 2018-01-01 09:00:52, 2018-02-01 09:00:52,
       2018-03-01 09:00:52, 2018-04-01 09:00:52, 2018-05-01 09:00:52,
       2018-06-01 09:00:52, 2018-07-01 09:00:52, 2018-08-01 09:00:52,
       2018-09-01 09:00:52, 2018-10-01 09:00:52, 2018-11-01 09:00:52,
       2018-12-01 09:00:52, 2019-01-01 09:00:52, 2019-02-01 09:00:52,
       2019-03-01 09:00:52, 2019-04-01 09:00:52, 2019-05-01 09:00:52,
       2019-06-01 09:00:52, 2019-07-01 09:00:52, 2019-08-01 09:00:52,
       2019-09-01 09:00:52, 2019-10-01 09:00:52, 2019-11-01 09:00:52,
       2019-12-01 09:00:52, 2020-01-01 09:00:52, 2020-02-01 09:00:52,
       2020-03-01 09:00:52, 2020-04-01 09:00:52, 2020-05-01 09:00:52,
       2020-06-01 09:00:52, 2020-07-01 09:00:52, 2020-08-01 09:00:52,
       2020-09-01 09:00:52, 2020-10-01 09:00:52, 2020-11-01 09:00:52,
       2020-12-01 09:00:52, 2021-01-01 09:00:52, 2021-02-01 09:00:52,
       2021-03-01 09:00:52, 2021-04-01 09:00:52, 2021-05-01 09:00:52,
       2021-06-01 09:00:52, 2021-07-01 09:00:52, 2021-08-01 09:00:52,
       2021-09-01 09:00:52, 2021-10-01 09:00:52, 2021-11-01 09:00:52,
       2021-12-01 09:00:52, 2022-01-01 09:00:52, 2022-02-01 09:00:52,
       2022-03-01 09:00:52, 2022-04-01 09:00:52, 2022-05-01 09:00:52,
       2022-06-01 09:00:52, 2022-07-01 09:00:52, 2022-08-01 09:00:52,
       2022-09-01 09:00:52, 2022-10-01 09:00:52, 2022-11-01 09:00:52,
       2022-12-01 09:00:52,     '18.01 ~ 22.12'],
      dtype='object')

In [ ]:
df_kb.columns[1: -1]

Index([2018-01-01 09:00:52, 2018-02-01 09:00:52, 2018-03-01 09:00:52,
       2018-04-01 09:00:52, 2018-05-01 09:00:52, 2018-06-01 09:00:52,
       2018-07-01 09:00:52, 2018-08-01 09:00:52, 2018-09-01 09:00:52,
       2018-10-01 09:00:52, 2018-11-01 09:00:52, 2018-12-01 09:00:52,
       2019-01-01 09:00:52, 2019-02-01 09:00:52, 2019-03-01 09:00:52,
       2019-04-01 09:00:52, 2019-05-01 09:00:52, 2019-06-01 09:00:52,
       2019-07-01 09:00:52, 2019-08-01 09:00:52, 2019-09-01 09:00:52,
       2019-10-01 09:00:52, 2019-11-01 09:00:52, 2019-12-01 09:00:52,
       2020-01-01 09:00:52, 2020-02-01 09:00:52, 2020-03-01 09:00:52,
       2020-04-01 09:00:52, 2020-05-01 09:00:52, 2020-06-01 09:00:52,
       2020-07-01 09:00:52, 2020-08-01 09:00:52, 2020-09-01 09:00:52,
       2020-10-01 09:00:52, 2020-11-01 09:00:52, 2020-12-01 09:00:52,
       2021-01-01 09:00:52, 2021-02-01 09:00:52, 2021-03-01 09:00:52,
       2021-04-01 09:00:52, 2021-05-01 09:00:52, 2021-06-01 09:00:52,
       2021-07-01 09:00:52, 2021-08-01 09:00:52, 2021-09-01 09:00:52,
       2021-10-01 09:00:52, 2021-11-01 09:00:52, 2021-12-01 09:00:52,
       2022-01-01 09:00:52, 2022-02-01 09:00:52, 2022-03-01 09:00:52,
       2022-04-01 09:00:52, 2022-05-01 09:00:52, 2022-06-01 09:00:52,
       2022-07-01 09:00:52, 2022-08-01 09:00:52, 2022-09-01 09:00:52,
       2022-10-01 09:00:52, 2022-11-01 09:00:52, 2022-12-01 09:00:52],
      dtype='object')

In [ ]:
df_kb.columns[1]

datetime.datetime(2018, 1, 1, 9, 0, 52)

In [ ]:
df_kb.columns[1].strftime('%Y-%m-%d')

'2018-01-01'

In [ ]:
str(df_kb.columns[1])[:10]

'2018-01-01'

In [ ]:
df_kb.columns = [str(col)[:10] if i not in [0, len(df_kb.columns)-1] else col for i, col in enumerate(df_kb.columns)]

In [ ]:
df_kb.columns

Index(['지역명', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01',
       '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01',
       '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01', '2019-07-01',
       '2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
       '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01',
       '2020-06-01', '2020-07-01', '2020-08-01', '2020-09-01', '2020-10-01',
       '2020-11-01', '2020-12-01', '2021-01-01', '2021-02-01', '2021-03-01',
       '2021-04-01', '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
       '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01', '2022-01-01',
       '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01',
       '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01',
       '2022-12-01', '18.01 ~ 22.12'],
      dtype='object')

In [ ]:
df_kb.head()

,지역명,2018-01-01,2018-02-01,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,...,2022-04-01,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,18.01 ~ 22.12
0,서울,65.602,66.249,67.080,67.624,67.893,68.158,68.518,69.318,71.976,...,100.256,100.469,100.603,100.638,100.492,100.297,99.627,98.216,96.810,47.570894
1,강북14개구,65.007,65.455,66.207,66.682,66.946,67.191,67.569,68.243,70.823,...,100.149,100.273,100.337,100.326,100.134,99.909,99.110,97.613,96.317,48.163088
2,종로구,76.823,77.001,77.831,78.296,78.598,78.947,79.251,79.511,81.167,...,100.301,100.961,101.313,101.438,101.411,101.400,101.293,101.099,100.987,31.452808
3,중구,71.795,72.262,72.996,73.399,73.602,73.963,74.397,74.969,76.605,...,100.055,100.161,100.237,100.309,100.236,100.174,99.754,99.293,97.478,35.774047
4,용산구,67.524,68.343,69.736,70.501,70.958,71.275,71.830,72.955,75.847,...,100.703,101.684,102.413,102.620,102.668,102.666,102.530,102.463,102.041,51.119216

In [ ]:
df_kb.to_excel('/content/월간 아파트 매매가격지수_2018.01 ~ 2022.12.xlsx', index = False)

In [ ]:
df_20182019 = pd.read_excel('/content/2018.01.01 ~ 2019.12.31 (mreged).xlsx', index_col = None)
df_2022 = pd.read_excel('/content/merged_df(2022.01.01 ~ 2022.12.31) (2).xlsx', index_col = None)

In [ ]:
df_all = pd.concat([result, df_20182019, df_2022])
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26536 entries, 0 to 4821
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        26536 non-null  object
 1   name        26536 non-null  object
 2   title       26536 non-null  object
 3   content     26533 non-null  object
 4   Unnamed: 0  16085 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.2+ MB

In [ ]:
df_all.head(20)

,date,name,title,content,Unnamed: 0
0,2020-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...,NaN
1,2020-01-01,서울경제,12·16대책 전 한달간 서울 아파트값 1.24% 상승,[서울경제] 12·16 대책 시행 전 한 달여 동안 서울 아파트 매매가격이 1.24...,NaN
2,2020-01-02,MBC,12월 5주째 서울 아파트 가격 상승폭 축소…과천은 마이너스,정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주 연속 축소...,NaN
3,2020-01-02,한국경제,9억원 미만 '규제 풍선효과'…경기·인천 아파트값 급등세 지속,한국감정원 주간 시세수원 영통 0.81% '최고 상승률'서울 양천구 전셋값 0.61...,NaN
4,2020-01-02,부산일보,해·수·동 아파트 가격 오름세 주춤,부산 해운대구 마린시티 일대 전경. 부산일보DB12월 마지막 주 부산 해운대·수영·...,NaN
5,2020-01-02,이데일리,주택 규제하니 오피스텔 ‘꿈틀’…서울 오피스텔 매매가↑,한국감정원 작년 4분기 오피스텔 가격동향조사전국 오피스텔 2019년 4분기 가격지수...,NaN
6,2020-01-02,머니투데이,'수원 영통구' 전국 주간 아파트 상승률 1위...까닭은,[머니투데이 조한송 기자] [전국 아파트 매매가격 변동률 전주 대비 0.09% 상승...,NaN
7,2020-01-02,머니투데이,서울 아파트 '10억 클럽' 확산 빨라지나,[머니투데이 송선옥 기자] [DMC센트럴아이파크 84㎡ 호가 1억 껑충 10억 돌파...,NaN
8,2020-01-02,한국경제,‘12·16 대책’ 약발 먹혔나…서울 아파트값 2주째 상승폭 축소,급등을 거듭하던 서울 아파트값이 '12·16 부동산 대책' 시행 이후 상승세가 한풀...,NaN
9,2020-01-02,MBC,12·16 대책 후 서울 아파트값 상승 폭 2주 연속 둔화,[5시뉴스]정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주...,NaN
10,2020-01-02,매일경제,"""규제 많은 아파트 피하자""…서울 역세권 오피스텔 강세",작년 4분기 오름폭 확대지방은 오히려 하락세지난해 4분기 서울 오피스텔 가격이 급등...,NaN
11,2020-01-02,이데일리,12·16 약발 먹히나…서울 아파트값 2주 연속 상승폭 축소,감정원 '12월 5주 주간 아파트 매매동향' 발표서울 아파트 값 0.08% 상승 전...,NaN
12,2020-01-02,헤럴드경제,서울 오피스텔 매매·전세가도 ‘꿈틀’…지난해 4분기 0.40% ‘껑충’,집값 상승세에 탄력 받아직주근접 투자수요도 이동지난해 4분기 서울 오피스텔 가격이 ...,NaN
13,2020-01-02,뉴시스,아파트 누르니 오피스텔 '껑충'…작년 4분기 0.40% 올라,감정원 작년 4분기 서울 오피스텔 매매가격 동향 조사상승폭 확대…10월(0.07%)...,NaN
14,2020-01-02,머니투데이,"목동아파트, 6단지 안전진단 통과 소식에 호가 3억 '급등'","[머니투데이 이소은 기자] [""12·16 대책 후 나온 급매물도 호가 올려""…12단...",NaN
15,2020-01-02,동아일보,"12·16대책 이후 서울 아파트 가격 상승폭, 2주 연속 둔화…전세는 상승세",서울 아파트 가격 상승세가 지난해 12·16부동산대책 이후 2주 연속 둔화됐다. ...,NaN
16,2020-01-02,SBS,서울 아파트값 뛰자 오피스텔 매매가도 2분기 연속 상승,▲ 위 사진은 기사 내용과 관련이 없습니다.서울 아파트값 상승의 영향으로 오피스텔 ...,NaN
17,2020-01-02,아시아경제,서울 아파트값 상승폭 2주 연속 감소…12·16대책 효과,(자료=한국감정원)[아시아경제 문제원 기자] 서울 아파트 매매가격 상승폭이 2주 연...,NaN
18,2020-01-02,아이뉴스24,전국 아파트 매매價 변동률 전주比 0.09%↑…경기 수원 '강세',"수원, 양천, 마포, 강남, 대전 지역 상승세 이어져[아이뉴스24 김서온 기자] 경...",NaN
19,2020-01-02,MBC,서울 아파트값 뛰자 오피스텔 매매가도 2분기 연속 상승,지난 한해 서울 아파트값 상승세로 오피스텔 매매가격도 2분기 연속 오른 것으로 조사...,NaN

In [ ]:
df_all['name'].value_counts()[:50]

매일경제       2242
뉴시스        1552
한국경제       1257
헤럴드경제      1212
아시아경제      1208
이데일리       1208
서울경제       1173
뉴스1        1133
파이낸셜뉴스     1040
연합뉴스       1033
머니S         955
머니투데이       849
조선비즈        738
디지털타임스      691
SBS Biz     674
데일리안        598
동아일보        591
세계일보        573
국민일보        510
KBS         470
조선일보        466
한국경제TV      429
경향신문        401
중앙일보        397
YTN         389
노컷뉴스        363
문화일보        361
서울신문        353
한국일보        335
아이뉴스24      279
SBS         271
MBN         264
MBC         236
연합뉴스TV      229
TV조선        185
한겨레         182
매경이코노미      179
더팩트         171
조세일보        133
스포츠서울       119
JTBC         92
부산일보         90
오마이뉴스        88
매일신문         75
스포츠조선        69
채널A          61
여성신문         60
비즈워치         52
시사저널         46
스타뉴스         43
Name: name, dtype: int64

In [ ]:
df_all.drop(columns = 'Unnamed: 0', inplace = True)

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26536 entries, 0 to 4821
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     26536 non-null  object
 1   name     26536 non-null  object
 2   title    26536 non-null  object
 3   content  26533 non-null  object
dtypes: object(4)
memory usage: 1.0+ MB

In [45]:
df_all = df_all.sort_values(by = 'date')
df_all

NameError: ignored

In [ ]:
df_all.reset_index(drop = True, inplace = True)

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     26536 non-null  object
 1   name     26536 non-null  object
 2   title    26536 non-null  object
 3   content  26533 non-null  object
dtypes: object(4)
memory usage: 829.4+ KB

In [ ]:
df_all.head(10)

,date,name,title,content
0,2020-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
1,2020-01-01,서울경제,12·16대책 전 한달간 서울 아파트값 1.24% 상승,[서울경제] 12·16 대책 시행 전 한 달여 동안 서울 아파트 매매가격이 1.24...
2,2020-01-02,MBC,12월 5주째 서울 아파트 가격 상승폭 축소…과천은 마이너스,정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주 연속 축소...
3,2020-01-02,한국경제,9억원 미만 '규제 풍선효과'…경기·인천 아파트값 급등세 지속,한국감정원 주간 시세수원 영통 0.81% '최고 상승률'서울 양천구 전셋값 0.61...
4,2020-01-02,부산일보,해·수·동 아파트 가격 오름세 주춤,부산 해운대구 마린시티 일대 전경. 부산일보DB12월 마지막 주 부산 해운대·수영·...
5,2020-01-02,이데일리,주택 규제하니 오피스텔 ‘꿈틀’…서울 오피스텔 매매가↑,한국감정원 작년 4분기 오피스텔 가격동향조사전국 오피스텔 2019년 4분기 가격지수...
6,2020-01-02,머니투데이,'수원 영통구' 전국 주간 아파트 상승률 1위...까닭은,[머니투데이 조한송 기자] [전국 아파트 매매가격 변동률 전주 대비 0.09% 상승...
7,2020-01-02,머니투데이,서울 아파트 '10억 클럽' 확산 빨라지나,[머니투데이 송선옥 기자] [DMC센트럴아이파크 84㎡ 호가 1억 껑충 10억 돌파...
8,2020-01-02,한국경제,‘12·16 대책’ 약발 먹혔나…서울 아파트값 2주째 상승폭 축소,급등을 거듭하던 서울 아파트값이 '12·16 부동산 대책' 시행 이후 상승세가 한풀...
9,2020-01-02,MBC,12·16 대책 후 서울 아파트값 상승 폭 2주 연속 둔화,[5시뉴스]정부의 12.16 부동산 대책 발표 이후 서울 아파트 가격 상승폭이 2주...

In [ ]:
df_all.tail()

,date,name,title,content
26531,2022-12-31,서울경제,상승은 언제쯤…매수심리도 매매가도 연일 '뚝뚝',연합뉴스[서울경제] 전국의 아파트 매수심리가 더욱 강하게 얼어붙은 가운데 아파트 매...
26532,2022-12-31,뉴시스,[부동산 지각변동①]올해 세종집값 -16.7%↓…전국 하락세 가속화,"기사내용 요약올해 전국 아파트 매매가격 누적 변동률 -7.22%서울, 노도강 중심으..."
26533,2022-12-31,비즈워치,주택시장 '한파' 속 마무리…노원 추락·서초는 버티기,"[집값 톡톡]서울 아파트값, 작년 상승분 반납노원구 -12%…올해 서울서 가장 많이..."
26534,2022-12-31,주간동아,해당 지역에 살지 않아도 무순위 청약 ‘줍줍’ 가능해진다,새해 달라지는 부동산 청약·대출·세제 총정리 새해 정부는 부동산시장 경착륙을 막기 ...
26535,2022-12-31,매일신문,지난달 미분양 5만8천가구 중 대구 물량 1만1천700가구…전국 최다,한달 새 미분양 물량 22.9% 증가지난달 전국 아파트 미분양 물량이 5만8천가구를...

In [ ]:
df_all.to_excel('/content/total.xlsx', index = False)

In [5]:
df_total = pd.read_excel('/content/total.xlsx', index_col = None)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     26536 non-null  object
 1   name     26536 non-null  object
 2   title    26536 non-null  object
 3   content  26533 non-null  object
dtypes: object(4)
memory usage: 829.4+ KB

In [46]:
df_total = df_total.sort_values(by = 'date')
df_total

,date,name,title,content
10456,2018-01-01,연합뉴스,"""집 파느니 증여한다""…잇단 규제에 주택 매매↓, 증여↑",주택 증여 작년 11월까지 8만 건 육박…역대 최대 전망2년 연속 100만 건 넘었...
10451,2018-01-01,조선비즈,[아파트 별곡]① 자산증식 욕망이 불패 신기루 만들어…주거대안 화두에 진화 거듭,대한민국은 아파트 공화국이다. 우리나라 집 10채 중 6채는 아파트다. 아파트에 열...
10452,2018-01-01,서울경제,"[2018년 주목! 여기] 4청량리 역세권, 교통망·주거환경 개선 동시에...일대 ...",경강선 이어 올 8월 분당선 연장집창촌은 도심 랜드마크 변신중미주 전용 86.78㎡...
10453,2018-01-01,파이낸셜뉴스,서울 아파트 4.69% 오를 때 지방은 0.41% 하락,5년여만에 전세가격 내려.. 수도권 1.4% 올라 대조적 ...
10454,2018-01-01,스포츠서울,"[부동산 理實直告]아파트,관리비예치금과 장기수선충담금은 계륵?",[스포츠서울]일반적으로 부동산을 거래한다는 것은 매매계약을 말한다. 하지만 임대차계...
...,...,...,...,...
26519,2022-12-31,JIBS,"짓고 또 짓고, 가격은 '껑충' .. 당연 미분양 ""규제 풀어 해결?""","5만8,027가구 미분양.. 전달보다 1만여 가구↑1년 새 4배 급증.. 위험선 '..."
26518,2022-12-31,헤럴드경제,유찰 또 유찰…“찬바람 경매 법정 삼수는 기본입니다” [부동산360],"12월 서울 아파트 낙찰가율 76.5%경기 73.7%, 인천 68.0%까지 하락8개..."
26517,2022-12-31,아시아경제,"서울 아파트 매매가격, 9년 만에 약세로 마무리","부동산R114, 수도권 주택가격 동향[이미지출처=연합뉴스]서울 아파트 매매가격이 마..."
26525,2022-12-31,파이낸셜뉴스,영종신도시 '국평' 3억대로 추락… '땅끝' 해남보다 싸게 팔렸다,인천 신축 대단지 3억6000만원에 거래공급 없는 해남은 3억6300만원 최고가 인...
26535,2022-12-31,매일신문,지난달 미분양 5만8천가구 중 대구 물량 1만1천700가구…전국 최다,한달 새 미분양 물량 22.9% 증가지난달 전국 아파트 미분양 물량이 5만8천가구를...

In [23]:
df_total[df_total['title'].isna()]

Empty DataFrame
Columns: [date, name, title, content]
Index: []

In [24]:
df_total[df_total['title'] == 'None']

Empty DataFrame
Columns: [date, name, title, content]
Index: []

In [25]:
df_total[df_total['title'] == '']

Empty DataFrame
Columns: [date, name, title, content]
Index: []

In [12]:
df_total.loc[24960, 'content'] = "= 9일 오후 재건축 연한 단축으로 '9.1 부동산 대책' 최대 수혜지 중 한 곳으로 꼽히는 목동신시가지 아파트단지가 보이고 있다. 2014.9.9/뉴스1  서울 아파트 매매가격이 16주 연속 하락세를 잇고 있다. 이번주는 9년9개월 만에 최대 하락폭을 기록했다. 15일 한국부동산원 주간아파트가격동향에 따르면 지난 12일 기준 서울 아파트가격은 전주 대비 0.16% 하락했다. 이는 2012년 12월 10일(-0.17%) 이후 9년9개월 만에 최대 하락폭이다. 서울 아파트값은 지난 5월 30일(-0.01%) 조사 이후 16주 연속 내리막을 걷고 있다. 낙폭도 최근 6주 연속 확대됐다. 한국부동산원 관계자는 “추가 금리인상 우려 등으로 매수 심리가 크게 위축되고 있는 가운데 추석 연휴로 매수 움직임이 줄어들고 급매물 위주 간헐적 거래와 매물 가격 하향조정이 지속되면서 하락폭이 확대됐다”고 설명했다. 강북권에서는 도봉구(-0.31%), 노원구(-0.29%), 서대문구(-0.27%), 은평구(-0.25%) 등이 상대적으로 하락폭이 컸다. 강남권에서는 송파구(-0.18%)가 오금·문정동 구축과 잠실동 대단지 위주로 하락한 것으로 나타났다. 서울 아파트의 이달초 실거래건 대부분이 하락거래였다. 지난 7일 양천구 신정동 '목동신시가지14단지' 전용 74㎡는 신고가(16억8000만원) 대비 2억6000만원 하락한 14억2000만원에 손바뀜했다. 마포구 신공덕동 '신공덕1차삼성래미안1아파트' 전용 114㎡는 3억8500만원 내린 13억4000만원에 팔렸다. 한편, 전국(-0.17%→-0.16%)과 수도권(-0.21%→-0.20%)은 이번주 하락폭이 축소됐다. 지방(-0.13%→-0.13%)은 하락폭 유지됐다. 시도별로는 세종(-0.40%)로 가장 크게 내렸고 인천(-0.29%), 대전(-0.27%), 대구(-0.22%), 경기(-0.21%), 울산(-0.18%), 서울(-0.16%), 부산(-0.15%), 광주(-0.13%) 순으로 하락폭이 컸다. 이소은 기자 (luckysso@mt.co.kr)"

In [13]:
df_total.loc[24960, 'content']

"= 9일 오후 재건축 연한 단축으로 '9.1 부동산 대책' 최대 수혜지 중 한 곳으로 꼽히는 목동신시가지 아파트단지가 보이고 있다. 2014.9.9/뉴스1  서울 아파트 매매가격이 16주 연속 하락세를 잇고 있다. 이번주는 9년9개월 만에 최대 하락폭을 기록했다. 15일 한국부동산원 주간아파트가격동향에 따르면 지난 12일 기준 서울 아파트가격은 전주 대비 0.16% 하락했다. 이는 2012년 12월 10일(-0.17%) 이후 9년9개월 만에 최대 하락폭이다. 서울 아파트값은 지난 5월 30일(-0.01%) 조사 이후 16주 연속 내리막을 걷고 있다. 낙폭도 최근 6주 연속 확대됐다. 한국부동산원 관계자는 “추가 금리인상 우려 등으로 매수 심리가 크게 위축되고 있는 가운데 추석 연휴로 매수 움직임이 줄어들고 급매물 위주 간헐적 거래와 매물 가격 하향조정이 지속되면서 하락폭이 확대됐다”고 설명했다. 강북권에서는 도봉구(-0.31%), 노원구(-0.29%), 서대문구(-0.27%), 은평구(-0.25%) 등이 상대적으로 하락폭이 컸다. 강남권에서는 송파구(-0.18%)가 오금·문정동 구축과 잠실동 대단지 위주로 하락한 것으로 나타났다. 서울 아파트의 이달초 실거래건 대부분이 하락거래였다. 지난 7일 양천구 신정동 '목동신시가지14단지' 전용 74㎡는 신고가(16억8000만원) 대비 2억6000만원 하락한 14억2000만원에 손바뀜했다. 마포구 신공덕동 '신공덕1차삼성래미안1아파트' 전용 114㎡는 3억8500만원 내린 13억4000만원에 팔렸다. 한편, 전국(-0.17%→-0.16%)과 수도권(-0.21%→-0.20%)은 이번주 하락폭이 축소됐다. 지방(-0.13%→-0.13%)은 하락폭 유지됐다. 시도별로는 세종(-0.40%)로 가장 크게 내렸고 인천(-0.29%), 대전(-0.27%), 대구(-0.22%), 경기(-0.21%), 울산(-0.18%), 서울(-0.16%), 부산(-0.15%), 광주(-0.13%) 순으로 하락폭이 컸다. 이소은 기자 (luckysso@mt.co.kr)"

In [47]:
df_total.reset_index(drop = True, inplace = True)
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     26536 non-null  object
 1   name     26536 non-null  object
 2   title    26536 non-null  object
 3   content  26536 non-null  object
dtypes: object(4)
memory usage: 829.4+ KB

In [48]:
df_total.to_excel('/content/total.xlsx', index = False)

In [29]:
df_10 = df_total[df_total['name'].isin(['매일경제', '한국경제', '헤럴드경제', '아시아경제', '이데일리', '서울경제', '파이낸셜뉴스', '머니투데이', '조선비즈', '연합뉴스'])]
df_10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11960 entries, 0 to 26531
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     11960 non-null  object
 1   name     11960 non-null  object
 2   title    11960 non-null  object
 3   content  11960 non-null  object
dtypes: object(4)
memory usage: 467.2+ KB

In [30]:
df_10.head(10)

,date,name,title,content
0,2020-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
1,2020-01-01,서울경제,12·16대책 전 한달간 서울 아파트값 1.24% 상승,[서울경제] 12·16 대책 시행 전 한 달여 동안 서울 아파트 매매가격이 1.24...
3,2020-01-02,한국경제,9억원 미만 '규제 풍선효과'…경기·인천 아파트값 급등세 지속,한국감정원 주간 시세수원 영통 0.81% '최고 상승률'서울 양천구 전셋값 0.61...
5,2020-01-02,이데일리,주택 규제하니 오피스텔 ‘꿈틀’…서울 오피스텔 매매가↑,한국감정원 작년 4분기 오피스텔 가격동향조사전국 오피스텔 2019년 4분기 가격지수...
6,2020-01-02,머니투데이,'수원 영통구' 전국 주간 아파트 상승률 1위...까닭은,[머니투데이 조한송 기자] [전국 아파트 매매가격 변동률 전주 대비 0.09% 상승...
7,2020-01-02,머니투데이,서울 아파트 '10억 클럽' 확산 빨라지나,[머니투데이 송선옥 기자] [DMC센트럴아이파크 84㎡ 호가 1억 껑충 10억 돌파...
8,2020-01-02,한국경제,‘12·16 대책’ 약발 먹혔나…서울 아파트값 2주째 상승폭 축소,급등을 거듭하던 서울 아파트값이 '12·16 부동산 대책' 시행 이후 상승세가 한풀...
10,2020-01-02,매일경제,"""규제 많은 아파트 피하자""…서울 역세권 오피스텔 강세",작년 4분기 오름폭 확대지방은 오히려 하락세지난해 4분기 서울 오피스텔 가격이 급등...
11,2020-01-02,이데일리,12·16 약발 먹히나…서울 아파트값 2주 연속 상승폭 축소,감정원 '12월 5주 주간 아파트 매매동향' 발표서울 아파트 값 0.08% 상승 전...
12,2020-01-02,헤럴드경제,서울 오피스텔 매매·전세가도 ‘꿈틀’…지난해 4분기 0.40% ‘껑충’,집값 상승세에 탄력 받아직주근접 투자수요도 이동지난해 4분기 서울 오피스텔 가격이 ...

In [49]:
df_10 = df_10.sort_values(by = 'date')
df_10

,date,name,title,content
4307,2018-01-01,조선비즈,[아파트 별곡]① 자산증식 욕망이 불패 신기루 만들어…주거대안 화두에 진화 거듭,대한민국은 아파트 공화국이다. 우리나라 집 10채 중 6채는 아파트다. 아파트에 열...
4308,2018-01-01,서울경제,"[2018년 주목! 여기] 4청량리 역세권, 교통망·주거환경 개선 동시에...일대 ...",경강선 이어 올 8월 분당선 연장집창촌은 도심 랜드마크 변신중미주 전용 86.78㎡...
4309,2018-01-01,파이낸셜뉴스,서울 아파트 4.69% 오를 때 지방은 0.41% 하락,5년여만에 전세가격 내려.. 수도권 1.4% 올라 대조적 ...
4310,2018-01-01,연합뉴스,"""집 파느니 증여한다""…잇단 규제에 주택 매매↓, 증여↑",주택 증여 작년 11월까지 8만 건 육박…역대 최대 전망2년 연속 100만 건 넘었...
4311,2018-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
...,...,...,...,...
11958,2022-12-31,조선비즈,[2023 부스트라다무스]② 채상욱 “손흥민처럼 ‘양발 전략’ 써라... 타이밍·가...,“부동산 투자자의 상당수가 타이밍(시점) 전략에만 함몰돼 있어요. 이...
11953,2022-12-31,헤럴드경제,유찰 또 유찰…“찬바람 경매 법정 삼수는 기본입니다” [부동산360],"12월 서울 아파트 낙찰가율 76.5%경기 73.7%, 인천 68.0%까지 하락8개..."
11952,2022-12-31,아시아경제,"서울 아파트 매매가격, 9년 만에 약세로 마무리","부동산R114, 수도권 주택가격 동향[이미지출처=연합뉴스]서울 아파트 매매가격이 마..."
11954,2022-12-31,헤럴드경제,20억 두고 ‘일진일퇴’ 잠실 엘리트…“19억대 매물 이제 안보여요” [부동산360],"잠실엘스 전용 84㎡, 19억~21억선 거래리센츠도 비슷…최고가 대비 7억원 빠져‘..."
11959,2022-12-31,서울경제,상승은 언제쯤…매수심리도 매매가도 연일 '뚝뚝',연합뉴스[서울경제] 전국의 아파트 매수심리가 더욱 강하게 얼어붙은 가운데 아파트 매...

In [50]:
df_10.reset_index(drop = True, inplace = True)
df_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11960 entries, 0 to 11959
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     11960 non-null  object
 1   name     11960 non-null  object
 2   title    11960 non-null  object
 3   content  11960 non-null  object
dtypes: object(4)
memory usage: 373.9+ KB

In [51]:
df_10.head(20)

,date,name,title,content
0,2018-01-01,조선비즈,[아파트 별곡]① 자산증식 욕망이 불패 신기루 만들어…주거대안 화두에 진화 거듭,대한민국은 아파트 공화국이다. 우리나라 집 10채 중 6채는 아파트다. 아파트에 열...
1,2018-01-01,서울경제,"[2018년 주목! 여기] 4청량리 역세권, 교통망·주거환경 개선 동시에...일대 ...",경강선 이어 올 8월 분당선 연장집창촌은 도심 랜드마크 변신중미주 전용 86.78㎡...
2,2018-01-01,파이낸셜뉴스,서울 아파트 4.69% 오를 때 지방은 0.41% 하락,5년여만에 전세가격 내려.. 수도권 1.4% 올라 대조적 ...
3,2018-01-01,연합뉴스,"""집 파느니 증여한다""…잇단 규제에 주택 매매↓, 증여↑",주택 증여 작년 11월까지 8만 건 육박…역대 최대 전망2년 연속 100만 건 넘었...
4,2018-01-01,아시아경제,지난달(12월) 아파트 매매 실거래가,작년 12월 아파트 매매 실거래가는 다음과 같다.서울지역의 아파트 매매가를 살펴보면...
5,2018-01-02,이데일리,"강남 토박이 재건축 입주권 매매… ""투자자들 벌써 입질""",- 8·2대책에 입주권 전매 금지됐지만- ''10년 소유 5년 거주자'' 예외적 허...
6,2018-01-02,매일경제,서울 중심 관광지 인근 호텔·빌딩 매매 증가…`에이치에비뉴` 눈길,빌딩 매매·교환을 전문으로 하는 빌딩클럽공인중개사사무소는 서울시 내 핵심 입지에 자...
7,2018-01-02,파이낸셜뉴스,강남3구 상승률 못지 않은 강북 3구.. 올해도 아파트값 상승 이어갈까,2017년 12월 평균 매매가 상승률 (%) 평균 ...
8,2018-01-02,파이낸셜뉴스,강남3구 상승률 못지 않은 강북 3구.. 올해도 아파트값 상승 이어갈까,지난해 서울 강남3구(서초·송파·강남) 못지 않은 집값 오름세를 보인 서울 성동구...
9,2018-01-02,헤럴드경제,[대예측 2018-부동산 시장]대출규제로 아파트 매매시장 조정국면 진입,수도권 보합·지방은 하락 전망올해 아파트 매매 시장은 대출 규제와 금리인상에 따른 ...
10,2018-01-02,한국경제,가락동 숨은 진주 '가락우성1차' 재건축 대열 합류…5개월새 매매가 5000만원 이...,[ 김형규 기자 ] 서울 송파구 가락동 ‘가락우성1차’ 아파트가 지난해 말 재건축...
11,2018-01-02,매일경제,재건축 기대감으로 아파트 매매가 주도하는 과천 별양동 ‘주공4단지’,과천 별양동 주공 단지에 대한 관심이 과천 아파트 매매가 상승을 주도했다. 부동산 ...
12,2018-01-02,조선비즈,[아파트 별곡]② 초고층보다 더 높이 쌓인 이웃과의 담…계층 구분의 또다른 잣대,“우연히 듣고 보니 너무 충격적이네요. 휴먼시아에 사는 아이는 ‘휴거(휴먼시아 거지...
13,2018-01-02,파이낸셜뉴스,강남 안 부러운 강북3구 인기 올 아파트값 상승세 지속될까,성동 0.34%.광진 0.35%송파구 매매가 상승률 수준 서초구 0.29% 보다 높...
14,2018-01-03,헤럴드경제,"[신년기획 2018-강남3구의 탄생 ①규제 누른 호재, 호재가 된 규제] 7500만...",1988년 강남·서초·송파구로 개편천문학적인 돈 몰려 ‘불패괴물’로‘부자특구’ 인정...
15,2018-01-03,매일경제,"행당동 아파트의 양대 산맥, `행당한진타운` 기대감 커",[사진 제공 : 에이스공인중개사] 성동구 행당동의 행당한진타운과 행당대림1단지는 행...
16,2018-01-03,매일경제,"대세 이어가는 잠실동, `잠실엘스` 최근 매매가가..",[사진 제공 : 골드공인중개사] 골드공인중개사는 지난달 30일 송파구 잠실엘스 전용...
17,2018-01-03,한국경제,'8·2 대책' 후 연립·다세대주택 매매 줄고 전세는 늘었다,2018 부동산 투자 전략지난해 아파트값 안정세로 연립·다세대도 매매 줄어서울지역 ...
18,2018-01-04,파이낸셜뉴스,강남구 아파트값 0.98% 급등...감정원 집계후 최대폭 올랐다,서울 강남구의 주간 아파트가격이 한국감정원 집계 이후 최대폭으로 급...
19,2018-01-04,머니투데이,서울 주간 아파트값 소폭 상승세 유지…0.04% ↑,[머니투데이 김지훈 기자] /자료=KB국민은행전국 아파트값이 주간 기준으로 소폭의 ...

In [52]:
df_10.tail(20)

,date,name,title,content
11940,2022-12-30,연합뉴스,[연합뉴스 이 시각 헤드라인] - 10:30,■ 제2경인 화재 최초 발화 트럭운전자 업무상과실치사상 혐의 입건지난 29일 사망 ...
11941,2022-12-30,매일경제,AI가 '돈 되는 정보' 콕콕 찍어 동영상으로 요약해줘요,"재테크 플랫폼 매경엠플러스, 국내 첫 AI동영상 도입주식·부동산·가상화폐 등투자정보..."
11942,2022-12-30,헤럴드경제,올 주택 매매량 ‘반토막’...11월 미분양도 6만가구 육박,전국 미분양 5만8027가구 집계서울APT 매매도 넉 달째 1000건 ↓올 1~11...
11943,2022-12-30,머니투데이,"개포 -5억, 과천 -4억…전셋값 폭락에 '갭투자' 집주인들 비명","강남구 개포동 일대 아파트 단지 전경. /사진제공=뉴스1서울 강남구, 경기 과천시..."
11944,2022-12-30,연합뉴스,'빌라왕' 전세사기에 경매시장도 위축…빌라 낙찰가율 급락,서울 빌라 79.3% 3년 만에 최저…인천도 2021년 5월 이후 가장 낮아아파트 ...
11945,2022-12-30,이데일리,빌라왕 사망 후 거래된 빌라..배후 있나,"경찰, 약8000채가량 전세사기 수사 중숨진 빌라왕들, 명의 대여자인 듯[이데일리 ..."
11946,2022-12-30,연합뉴스,서울 아파트 매매수급지수 63.1 기록,(서울=연합뉴스) 진연수 기자 = 서울 아파트 매수심리가 1년 넘도록 기준...
11947,2022-12-30,헤럴드경제,“우리집값 앞자리가 바꼈어요”…전국 아파트 중위가격 3억원대로 뚝 [부동산360],12월 KB월간 시계열 통계 지난해 10월 대비 25% 떨어져전국아파트 중위가격 2...
11948,2022-12-30,매일경제,수도권 청약 한파 계속된다…투자하려면 이방법 노려라,매경 부동산 전문가 설문조사불황엔 경매가 아파트보다 유망80%가 “청약률 반등 어렵...
11949,2022-12-30,아시아경제,주택 매매량 전년比 반토막…미분양 5만가구 돌파,1~11월 전국 주택 매매량 50.1% ↓미분양 증가 속도 빨라져…대구 최다서울 시...
11950,2022-12-30,서울경제,"전국 미분양 6만 가구 육박…서울 아파트 매매, 또 역대 최저",11월 미분양 주택 전국 5.8만 가구한 달 새 1.1만 가구 늘며 증가세 여전서울...
11951,2022-12-30,조선비즈,강남구 다주택자는 매물 거둔다는데… 송파는 오히려 매물 늘었다,강남 개포·삼성 등 매물 석달새 50% 넘게 줄어송파선 리센츠·트리지움 매물 오히려...
11952,2022-12-31,파이낸셜뉴스,영종신도시 '국평' 3억대로 추락… '땅끝' 해남보다 싸게 팔렸다,인천 신축 대단지 3억6000만원에 거래공급 없는 해남은 3억6300만원 최고가 인...
11953,2022-12-31,매일경제,집주인도 “미치겠다”...올해 전세금 못돌려주는 비율 4% 될 듯 [나기자의 데이터...,내년 부동산 시장 전망 살펴보니2021년 ‘고점 전세’ 만기 곧 도래주산연 “전세가...
11954,2022-12-31,파이낸셜뉴스,인천 청라·송도 집값 반토막 났다.. 하락세 지속,청라국제도시 전경. 연합뉴스 가파른 금리 인상과 역대급 거래 절벽 속에 인천 청라·...
11955,2022-12-31,조선비즈,[2023 부스트라다무스]② 채상욱 “손흥민처럼 ‘양발 전략’ 써라... 타이밍·가...,“부동산 투자자의 상당수가 타이밍(시점) 전략에만 함몰돼 있어요. 이...
11956,2022-12-31,헤럴드경제,유찰 또 유찰…“찬바람 경매 법정 삼수는 기본입니다” [부동산360],"12월 서울 아파트 낙찰가율 76.5%경기 73.7%, 인천 68.0%까지 하락8개..."
11957,2022-12-31,아시아경제,"서울 아파트 매매가격, 9년 만에 약세로 마무리","부동산R114, 수도권 주택가격 동향[이미지출처=연합뉴스]서울 아파트 매매가격이 마..."
11958,2022-12-31,헤럴드경제,20억 두고 ‘일진일퇴’ 잠실 엘리트…“19억대 매물 이제 안보여요” [부동산360],"잠실엘스 전용 84㎡, 19억~21억선 거래리센츠도 비슷…최고가 대비 7억원 빠져‘..."
11959,2022-12-31,서울경제,상승은 언제쯤…매수심리도 매매가도 연일 '뚝뚝',연합뉴스[서울경제] 전국의 아파트 매수심리가 더욱 강하게 얼어붙은 가운데 아파트 매...

In [53]:
df_10['name'].value_counts()

매일경제      2242
한국경제      1257
헤럴드경제     1212
아시아경제     1208
이데일리      1208
서울경제      1173
파이낸셜뉴스    1040
연합뉴스      1033
머니투데이      849
조선비즈       738
Name: name, dtype: int64

In [54]:
df_10.loc[3985:4000, :]

,date,name,title,content
3985,2019-04-11,서울경제,서울 아파트값 22주째 하락···급매 소진에 낙폭은 3주 연속 줄어,[서울경제] 서울 아파트값 하락세가 이어지고 있는 가운데 낙폭이 3주 연속 둔화했다...
3986,2019-04-11,연합뉴스,서울 아파트값 22주째 하락…급매 '반짝 소진'에 낙폭은 줄어,강동·양천·서초구 등 약세 여전…전셋값도 낙폭 둔화서울 아파트값 22주째 하락…급매...
3987,2019-04-11,머니투데이,전국 아파트 매매가 17주째 하락… 대구·대전 상승,[머니투데이 송선옥 기자] [전국 전세값 전주대비 0.04% 하락 ]서울 아파트 전...
3988,2019-04-12,파이낸셜뉴스,"서울 재건축 하락폭, 일반아파트의 3배",올 매매가 누적변동률 -1.39% 서울 아파트 매매가격 주간 변동률이 최근 한 ...
3989,2019-04-12,아시아경제,"""올해 서울 재건축 1.39% 하락, 일반아파트의 3배""","서울 올해 매매가격 누적변동률…재건축 -1.39%, 일반아파트 -0.43%이번주 서..."
3990,2019-04-12,이데일리,"서울 재건축 아파트값, 일반 아파트값보다 세배 더 내렸다","부동산114, 수도권 아파트 매매 동향[이데일리 경계영 기자] 올해 들어 서울 재건..."
3991,2019-04-12,이데일리,"경북·충남 아파트값 최장기 하락…""골든타임 놓칠라""","- 주택시장 침체…서울보다 심각- 경북, 제조업 불황에 인구도 줄어- 충남, 공급과..."
3992,2019-04-12,이데일리,서울 아파트 매매값 13주·전셋값 18주 연속 동반 하락,[이데일리 정병묵 기자] 서울 아파트 매매·전셋값이 10주 넘게 동반 하락 중이다....
3993,2019-04-12,매일경제,"강남 잇는 전철 개통한 일부 지역 매매가, 1년새 20% 올라","[자료 = 각사, 리얼투데이] 전철 개통으로 강남권(강남3구)을 환승없이 이동할 수..."
3994,2019-04-12,매일경제,[아파트 시황] 재건축 아파트 값 하락세로 전환,4월에도 서울 아파트 매매가격 하락세가 이어지고 있다. 특히 지난주 0.05%로 ...
3995,2019-04-13,파이낸셜뉴스,강남 통하면 아파트값 20% 올라간다...전철 개통 수혜 단지는?,루원 지웰시티 푸르지오 조감도 강남권으로 연결되는 새 전철 수혜 단지...
3996,2019-04-14,연합뉴스,"서울 아파트 '이삭줍기' 끝났나…""싼 매물 없다"" 다시 관망세",강남 재건축 등 2억∼3억원 싼 급매물 소진되자 매수 실종광명·분당 등 수도권은 급...
3997,2019-04-14,서울경제,[전국 아파트 주간 시세 동향] 서울 아파트값 21주째 마이너스 기록,[서울경제] 서울 재건축 아파트 매매가가 올 들어 일반 아파트의 3배 넘게 떨어지며...
3998,2019-04-14,조선비즈,서울 아파트 가격 0.04%↓…재건축 아파트 약세,서울 아파트 매매 가격이 21주째 하락세를 이어갔다. 재건축 아파트의 가격 하락폭이...
3999,2019-04-15,파이낸셜뉴스,대출규제에 '반포·압구정' 등 고가아파트 직격탄...고점대비 3억↓,"대출 규제로 인한 일시적 현상, 장기적으로 이어질지는 의문 대출 규제로 ..."
4000,2019-04-15,헤럴드경제,서울 아파트 전세가율 뚝뚝…갭투자 전성시대 저문다,작년 동기대비 10%P 이상 하락갭투자 성지 강북지역 낙폭 커내년 이후 역전세發 매...

In [55]:
df_10[df_10['date'] == '2019-03-31']

,date,name,title,content
3929,2019-03-31,머니투데이,"조국의 '똘똘한 한채' 방배 삼익, 2년새 45% 급등…재건축 '겹호재'",[머니투데이 박미주 기자] [편집자주] [편집자주] 다른 동네 집값은 다 오르는데 ...
3930,2019-03-31,조선비즈,서울 아파트값 19주째 하락…전주보다 0.03% ↓,서울 아파트 매매가격이 19주 연속 하락했다. 올해 1분기 매매 거래량은 지난해 같...
3931,2019-03-31,헤럴드경제,“주택시장 안정대책 등으로 부동산 경기 하강국면 진입”…해외IB들 하락세 지속 전망,[헤럴드경제=이해준 기자]정부의 주택시장 안정정책 시행 등으로 부동산 경기가 하강국...
3932,2019-03-31,이데일리,"서울 재건축 아파트값 5개월만에 반등…""추격 매수는 금물""","- 재건축 아파트값 21주 만에 상승 전환- 송파구 잠실주공5단지 상승 이끌어- ""..."
3933,2019-03-31,아시아경제,서울 아파트값 하락 전망 확산,국민은행 매매가격전망지수 이달 74.3 '역대 최저' ▲자료: KB국민은행[아시...

In [56]:
df_10.loc[7990:8000, :]

,date,name,title,content
7990,2020-12-20,연합뉴스,전세난에 매매수요·갭투자 '꿈틀',(서울=연합뉴스) 윤동진 기자 = 전세난이 매매시장을 자극하고 투기수요까지 ...
7991,2020-12-20,아시아경제,"서울 외곽 너마저…""관악구, 9억 이상 아파트 4건→108건""","올해 금관구, 노도강 9억 이상 거래량 지난해의 3배서울 외곽마저 고가주택 기준 넘..."
7992,2020-12-20,연합뉴스,매매수요·갭투자 '꿈틀',(서울=연합뉴스) 윤동진 기자 = 전세난이 매매시장을 자극하고 투기수요까지 ...
7993,2020-12-20,서울경제,두 달에 한번 꼴 대책에···한국 집값 상승률 56개국 중 39위,[서울경제] 정부가 올 들어 두 달에 한 번꼴로 부동산 대책을 내놓았지만 17개 시...
7994,2020-12-21,서울경제,20억 아파트 ‘갭’ 12억 → 9억···낮아진 강남 문턱,"임대차법 이후 전세가 상승률 3%매매가 상승률 0.2% 훨씬 웃돌아규제 역설, 갭 ..."
7995,2020-12-21,한국경제,"""너무 올랐나""…서울·경기 전세 매물 늘었다",서울 매물 한 달 새 21% 급증마포구 223→646건 189%↑분당·수원팔달 등도...
7996,2020-12-21,이데일리,"이헌승, 변창흠 후보자 방배동 아파트 공시가격 오류 의혹 제기",전용 129.73㎡ 6억5300만원…10년 전 평균공시가 수준최근 거래 없어 시세산...
7997,2020-12-21,한국경제,올해 아파트 경매 평균 낙찰가율 95% '역대 최고',자금조달계획서 면제 등 매력서울 4분기 110% 안팎 '열기'김포 지난달 131%까...
7998,2020-12-21,머니투데이,"""아파트 경매 인기"" 경매 낙찰가율 3년 만에 반등",[머니투데이 유엄식 기자] /삽화=임종철 디자이너전국 경매 낙찰가율(감정가 대비 ...
7999,2020-12-21,이데일리,지방 아파트 값 10억?…“그 값이면 서울 집 산다”,"2개월 간 아파트값 상승률, 지방서울창원 용지더샵레이크파크 전용 84㎡ 10억에 거..."
8000,2020-12-21,헤럴드경제,내 집 마련 서두른다면…신규 분양 아파트 ‘주목’,"전세난 영향으로 아파트 매매값 상승폭 확대, 내 집 마련 타이밍 언제?1군 브랜드 ..."

In [57]:
df_10[df_10['date'] == '2020-12-31']

,date,name,title,content
8147,2020-12-31,매일경제,"[단독] 박범계, 1주택·1상가 처분…알고보니 가족에 매각·증여","박범계 법무부 장관 후보자 2채 처분했으나…대구 상가, 가족에게 시세보다 싸게 매각..."
8148,2020-12-31,이데일리,쏟아낸 부동산 대책만 7번…집값 상승은 역대 최고,올해 부동산시장 돌아보니규제와 풍선효과 반복 '두더지 잡기'전국 아파트값 상승률 0...
8149,2020-12-31,파이낸셜뉴스,'강남불패' 결국 못꺾었다… 집값 다시 급등,12월 마지막주 서울 0.06% 상승정비사업 기대감 불붙으면서강남3구는 0.09∼0...
8150,2020-12-31,매일경제,고삐풀린 집값…결국 `강남불패`로 마무리,부동산원 주간 아파트시세재건축 기대 강남권 아파트 `껑충`서울 매매가 5개월만 최대...
8151,2020-12-31,헤럴드경제,공급부족→ 전세난→ 수요증가…2021년에도 집값은 또 오른다,입주물량 2020년보다 25% ↓6월 이후 양도세 강화가 변수상당수 이미 증여로 정...
8152,2020-12-31,헤럴드경제,신용대출 사다리는 끊기는데 도미노처럼 사라지는 저가아파트,서울 2억이하 12월 2842가구뿐7월의 절반…반년뒤엔 실종 우려서울아파트 약 99...
8153,2020-12-31,서울경제,"지방 묶자 수도권 '역풍선효과'···집값, 6개월만 최고 상승",[부동산원 주간아파트가격동향]서울·경기·인천 모두 상승폭 키워강남4구는 5개월 만에...
8154,2020-12-31,헤럴드경제,"신축년 집값, 민간도 정부기관도 ‘상승’ 한목소리 [부동산360]","한국은행, 민간 경제연구소 내년 집값 오른다 전망중개업자, 주택수요자 ‘주택 매수세..."
8155,2020-12-31,이데일리,지방 묶이니 서울로 유턴…수도권 아파트값 상승률 반년 만에 최고치,부동산원 주간아파트가격동향 발표서울 등 수도권 아파트값 상승폭 확대수도권 반년만에 ...
8156,2020-12-31,조선비즈,"[부동산 2021] ""전국 전세·매매 다 오른다… 무주택자는 살 궁리, 다주택자는 ...","[2021년 부동산을 말한다] ①박합수 KB국민은행 수석부동산전문위원""2021년 전..."
8157,2020-12-31,한국경제,강남 집값 오르자 마용성도 '꿈틀'…규제지역 묶인 지방은 '주춤',연말까지 상승새해 '집값 불안' 우려 고조지난주 송파 등 강남3구 아파트값0.09...
8158,2020-12-31,머니투데이,'일산'이 1등…이번주 아파트값 상승률 '전국 최고',[머니투데이 이소은 기자] 경기도 고양시 집값 상승세가 무섭다. 전주 대비 평균 1...
8159,2020-12-31,파이낸셜뉴스,"'文아들' 문준용 ""뭘 하든 아버지'백'? 생업 훼방 말라""","'文아들 비판'은 괜찮은데 생계 비난은 그만""""정치인들의 공격 의도, 불량하다""""예..."
8160,2020-12-31,서울경제,지방 묶으니 수도권 집값 더 뛴다,아파트 매매가 상승률 반년來 최고강남 4구 고가단지 7주 연속 상승서울 강남 아파트...
8161,2020-12-31,파이낸셜뉴스,'강남불패' 못꺾었다...서울 부동산 다시 '불장',서울 강남의 아파트 밀집지역. /사진=뉴스1 [파이낸셜뉴스] 올해 마지막까지 서울 ...
8162,2020-12-31,아시아경제,[2020 부동산] 패닉바잉·전세대란…한번도 경험 못한 시장,"주요 키워드로 본 올 한해 부동산 시장전세난민, 청약광풍, 반값로또 등서울 송파구 ..."
8163,2020-12-31,서울경제,다시 살아난 '강남 불패'···양산·김해 집값도 껑충,■ 부동산원 '주간 아파트 가격동향'지방 비규제지역 상승폭 확대서울 전세가격은 79...
8164,2020-12-31,조선비즈,"아현·대치동 2주택자, 2024년 보유세 1억 넘게 내야","[이코노미조선] BOOK IN BOOK부동산 세금 부담 본격화서울과 수도권, 일부 ..."
8165,2020-12-31,연합뉴스,[연합뉴스 이 시각 헤드라인] - 16:00,■ 청와대 새 비서실장에 유영민…민정수석 신현수문재인 대통령은 31일 노영민 대통령...
8166,2020-12-31,헤럴드경제,산업단지 인근 직주근접 아파트 ‘힐스테이트 용인 둔전역’,일자리 창출로 주택수요 대거 유입…산업단지 인근 아파트 가격 상승세‘힐스테이트 용인...
8167,2020-12-31,파이낸셜뉴스,"'부동산 블루' 탈출하자…10명중 7명 ""집 살것""","부동산 전망서울 중저가 아파트, 지방 비규제지역실수요자 몰리는 '분양전쟁' 예고전..."
8168,2020-12-31,머니투데이,"""7년만에 집값 떨어진다"" 빗나간 예측..세종 1년새 42% 뛰었다","[머니투데이 권화순 기자] (세종=뉴스1) 장수영 기자, 2020.12.29/뉴스1..."
8169,2020-12-31,매일경제,둔촌주공·래미안원베일리…내년 ‘로또분양’ 주목해라,2020년 부동산 시장은 어느 때보다 투자 열기가 뜨거웠다. 신규 분양 시장에 청약...
8170,2020-12-31,연합뉴스,[그래픽] 주간 아파트값 변동률 추이,(서울=연합뉴스) 이재윤 기자 = 한국부동산원은 12월 4주(28일 기준) 전국 주...
8171,2020-12-31,한국경제,서울 아파트값 상승률 '7·10 대책' 직후 수준까지 치솟았다,한국부동산원 주간 아파트 시세서울 매매가 29주째 올라…강남권 오름세 보이는 중'규...
8172,2020-12-31,헤럴드경제,대전 매수우위 동향 지속…‘유성온천역 한라비발디’가 온다,"- 대전, 역대급 전세난에 매수심리 극대화… 내 집 마련 수요 폭증에 신축 아파트 ..."
8173,2020-12-31,한국경제,[희망 2021 부동산 시장] 대출한도 규제 여파…서울 전셋값으로 살 수 있는 수도...,부동산 시장 투자 전략은서울 5억~9억대 '노도강' 관심수도권 3기 신도시 청약 주...
8174,2020-12-31,한국경제,"[희망 2021 부동산 시장] ""전셋값 상승 예상…규제강화로 매매가 상승폭 크지 않...",새해 부동산 시장 어디로…주택 매매가 2% 상승 전망서울 등 가격상승력은 약화신도시...
8175,2020-12-31,조선비즈,마지막주까지 집값은 올랐다…올해 집값 7% 전셋값 7.5% 상승,12월 마지막주까지 전국 집값과 전세값이 상승세를 이어가면서 올 한해 전국 집값은 ...

In [58]:
df_10.to_excel('/content/name_10.xlsx', index = False)