In [ ]:
# 수정 전

#크롤링시 필요한 라이브러리 불러오기
from bs4 import BeautifulSoup
import requests
import re
import datetime
from tqdm import tqdm
import sys
import time

# 크롤링할 url 생성하는 함수 만들기(검색어, 시작 날짜, 종료 날짜, 최대 페이지)
def makeUrl(search, s_date, e_date, maxpage):
    s_from = s_date.replace(".","")
    e_to = e_date.replace(".","")
    page = 1  
    maxpage_t =(int(maxpage)-1)*10+1   # 11= 2페이지 21=3페이지 31=4페이지  ...81=9페이지 , 91=10페이지, 101=11페이지
    urls = []
    for i in range(maxpage_t):
        url = "https://search.naver.com/search.naver?where=news&query=" + search + "&sort=0&ds=" + s_date + "&de=" + e_date + "&nso=so%3Ar%2Cp%3Afrom" + s_from + "to" + e_to + "%2Ca%3A&start=" + str(page)
        urls.append(url)
        page += 10
    return urls    

# html에서 원하는 속성 추출하는 함수 만들기(기사, 추출하려는 속성값)
def news_attrs_crawler(articles,attrs):
    attrs_content=[]
    for i in articles:
        attrs_content.append(i.attrs[attrs])
    return attrs_content

# ConnectionError방지
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/98.0.4758.102"}

#html 생성해서 기사 크롤링하는 함수 만들기(url): 링크를 반환
def articles_crawler(url):
    #html 불러오기
    original_html = requests.get(i,headers=headers)
    html = BeautifulSoup(original_html.text, "html.parser")

    url_naver = html.select("div.group_news > ul.list_news > li div.news_area > div.news_info > div.info_group > a.info")
    url = news_attrs_crawler(url_naver,'href')
    return url


#####뉴스 크롤링 시작#####
search = input("검색어 입력: ")  
s_date = input("시작 날짜 입력(예시: 2019.01.04): ")  #2019.01.04
e_date = input("종료 날짜 입력(예시: 2019.01.05): ")   #2019.01.05
maxpage = input("최대 크롤링할 페이지 수를 입력하세요: ")

# naver url 생성
url = makeUrl(search, s_date, e_date, maxpage)

#뉴스 크롤러 실행
news_titles = []
news_url =[]
news_contents =[]
news_dates = []
news_names = []
for i in url:
    url = articles_crawler(url)
    news_url.append(url)


#제목, 링크, 내용 1차원 리스트로 꺼내는 함수 생성
def makeList(newlist, content):
    for i in content:
        for j in i:
            newlist.append(j)
    return newlist

    
#제목, 링크, 내용 담을 리스트 생성
news_url_1 = []

#1차원 리스트로 만들기(내용 제외)
makeList(news_url_1,news_url)

#NAVER 뉴스만 남기기
final_urls = []
for i in tqdm(range(len(news_url_1))):
    if "news.naver.com" in news_url_1[i]:
        final_urls.append(news_url_1[i])
    else:
        pass


# 뉴스 내용 크롤링
for i in tqdm(final_urls):
    #각 기사 html get하기
    news = requests.get(i,headers=headers)
    news_html = BeautifulSoup(news.text,"html.parser")

    time.sleep(2)

    # 언론사명 가져 오기
    names = news_html.select('#contents > div.copyright > div > p')
    if names:
      name = names[0].string[12:-38]
    elif names != names:
      time.sleep(2)
      names = news_html.select('#content > div.end_ct > div > div.copyright > div > p')
      name = names[0].string[12:-38]
    else:
      name = ''

    # 뉴스 제목 가져 오기
    title = news_html.select_one("#ct > div.media_end_head.go_trans > div.media_end_head_title > h2")
    if title == None:
        title = news_html.select_one("#content > div.end_ct > div > h2")
    
    # 뉴스 본문 가져 오기
    content = news_html.select("div#dic_area")
    if content == []:
        content = news_html.select("#articeBody")

    # 기사 텍스트만 가져 오기:  list합치기
    content = ''.join(str(content))

    # html 태그 제거 및 텍스트 다듬기
    pattern1 = '<[^>]*>'
    title = re.sub(pattern=pattern1, repl='', string=str(title))
    content = re.sub(pattern=pattern1, repl='', string=content)
    pattern2 = """[\n\n\n\n\n// flash 오류를 우회하기 위한 함수 추가\nfunction _flash_removeCallback() {}"""
    content = content.replace(pattern2, '')

    news_names.append(name)
    news_titles.append(title)
    news_contents.append(content)

# 날짜 가져 오기
    try:
        html_date = news_html.select_one("div#ct> div.media_end_head.go_trans > div.media_end_head_info.nv_notrans > div.media_end_head_info_datestamp > div > span")
        news_date = html_date.attrs['data-date-time'][:10]
    except AttributeError:
        news_date = news_html.select_one("#content > div.end_ct > div > div.article_info > span > em")
        news_date = re.sub(pattern=pattern1,repl='', string=str(news_date))

    news_dates.append(news_date)


###데이터 프레임으로 만들기###
import pandas as pd

#데이터 프레임 만들기
news_df = pd.DataFrame({'date':news_dates, 'name': news_names, 'title':news_titles, 'content':news_contents, 'link': final_urls})

#중복 행 지우기
# news_df = news_df.drop_duplicates(keep='first',ignore_index=True)

#데이터 프레임을 엑셀 파일로 저장
outputFileName = f'{s_date} ~ {e_date}.xlsx'
news_df.to_excel(outputFileName, sheet_name='sheet1')

In [ ]:
# 간략화

#크롤링시 필요한 라이브러리 불러오기
from bs4 import BeautifulSoup
import requests
import re
import datetime
from tqdm import tqdm
import sys
import time

# 크롤링할 url 생성하는 함수 만들기(검색어, 시작 날짜, 종료 날짜, 최대 페이지)
def makeUrl(search, s_date, e_date, maxpage):
    s_from = s_date.replace(".","")
    e_to = e_date.replace(".","")
    url = [f"https://search.naver.com/search.naver?where=news&query={search}&sort=0&ds={s_date}&de={e_date}&nso=so%3Ar%2Cp%3Afrom{s_from}to{e_to}%2Ca%3A&start={i}" for i in range(1, int(maxpage) * 10, 10)]
    return url  

# html에서 원하는 속성 추출하는 함수 만들기(기사, 추출하려는 속성값)
def news_attrs_crawler(articles, attrs):
    attrs_content = [i.attrs[attrs] for i in articles]
    return attrs_content

# ConnectionError방지
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/98.0.4758.102"}

#html 생성해서 기사 크롤링하는 함수 만들기(url): 링크를 반환
def articles_crawler(url):
    #html 불러오기
    original_html = requests.get(i,headers=headers)
    html = BeautifulSoup(original_html.text, "html.parser")

    url_naver = html.select("div.group_news > ul.list_news > li div.news_area > div.news_info > div.info_group > a.info")
    url = news_attrs_crawler(url_naver,'href')
    return url


#####뉴스 크롤링 시작#####
search = input("검색어 입력: ")  
s_date = input("시작 날짜 입력(예시: 2019.01.04): ")  #2019.01.04
e_date = input("종료 날짜 입력(예시: 2019.01.05): ")   #2019.01.05
maxpage = input("최대 크롤링할 페이지 수를 입력하세요: ")

# naver url 생성
url = makeUrl(search, s_date, e_date, maxpage)

#뉴스 크롤러 실행
news_titles = []
news_url =[]
news_contents =[]
news_dates = []
news_names = []
for i in url:
    url = articles_crawler(url)
    news_url.append(url)


#제목, 링크, 내용 1차원 리스트로 꺼내는 함수 생성
def makeList(newlist, content):
    for i in content:
        for j in i:
            newlist.append(j)
    return newlist

    
#제목, 링크, 내용 담을 리스트 생성
news_url_1 = []

#1차원 리스트로 만들기(내용 제외)
makeList(news_url_1,news_url)

#NAVER 뉴스만 남기기
final_urls = []
for i in tqdm(range(len(news_url_1))):
    if "news.naver.com" in news_url_1[i]:
        final_urls.append(news_url_1[i])
    else:
        pass


# 뉴스 내용 크롤링
for i in tqdm(final_urls):
    #각 기사 html get하기
    news = requests.get(i,headers=headers)
    news_html = BeautifulSoup(news.text,"html.parser")

    time.sleep(2)

    # 언론사명 가져 오기
    names = news_html.select('#contents > div.copyright > div > p')
    if names:
      name = names[0].string[12:-38]
    elif names != names:
      time.sleep(2)
      names = news_html.select('#content > div.end_ct > div > div.copyright > div > p')
      name = names[0].string[12:-38]
    else:
      name = ''

    # 뉴스 제목 가져 오기
    title = news_html.select_one("#ct > div.media_end_head.go_trans > div.media_end_head_title > h2")
    if title == None:
        title = news_html.select_one("#content > div.end_ct > div > h2")
    
    # 뉴스 본문 가져 오기
    content = news_html.select("div#dic_area")
    if content == []:
        content = news_html.select("#articeBody")

    # 기사 텍스트만 가져 오기:  list합치기
    content = ''.join(str(content))

    # html 태그 제거 및 텍스트 다듬기
    pattern1 = '<[^>]*>' # 태그 제거
    pattern2 = r'[\n\t<>]|&lt;|&gt;' # 특수 기호 제거

    title = re.sub(pattern=pattern1, repl='', string=str(title))
    title = re.sub(pattern=pattern2, repl='', string=str(title))

    content = re.sub(pattern=pattern1, repl='', string=content)
    pattern3 = """[\n\n\n\n\n// flash 오류를 우회하기 위한 함수 추가\nfunction _flash_removeCallback() {}"""
    content = content.replace(pattern3, '')
    content = re.sub(pattern2, '', content)[1:-1] # 기사 본문 맨 앞, 맨 뒤 [ ] 제거

    news_names.append(name)
    news_titles.append(title)
    news_contents.append(content)

# 날짜 가져 오기
    try:
        html_date = news_html.select_one("div#ct> div.media_end_head.go_trans > div.media_end_head_info.nv_notrans > div.media_end_head_info_datestamp > div > span")
        news_date = html_date.attrs['data-date-time'][:10]
    except AttributeError:
        news_date = news_html.select_one("#content > div.end_ct > div > div.article_info > span > em")
        news_date = re.sub(pattern=pattern1,repl='', string=str(news_date))

    # news_dates.append(news_date)
    news_dates.append(news_date[:10].replace('.', '-'))


###데이터 프레임으로 만들기###
import pandas as pd

#데이터 프레임 만들기
news_df = pd.DataFrame({'date':news_dates, 'name': news_names, 'title':news_titles, 'content':news_contents, 'link': final_urls})

#중복 행 지우기
news_df = news_df.drop_duplicates(keep='first', ignore_index=True)

#데이터 프레임을 엑셀 파일로 저장
outputFileName = f'{s_date} ~ {e_date}.xlsx'
news_df.to_excel(outputFileName, sheet_name='sheet1')

검색어 입력: 서울 아파트 매매
시작 날짜 입력(예시: 2019.01.04): 2020.04.01
종료 날짜 입력(예시: 2019.01.05): 2020.06.30
최대 크롤링할 페이지 수를 입력하세요: 300

100%|██████████| 4550/4550 [00:00<00:00, 1086112.53it/s]
100%|██████████| 1550/1550 [1:07:08<00:00,  2.60s/it]

In [ ]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1335 entries, 0 to 1334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1335 non-null   object
 1   name     1335 non-null   object
 2   title    1335 non-null   object
 3   content  1335 non-null   object
 4   link     1335 non-null   object
dtypes: object(5)
memory usage: 52.3+ KB

In [ ]:
news_df

,date,name,title,content,link
0,2020-03-31,연합뉴스,대출 중단 등 악재에도 2월 서울 아파트 거래량 '깜짝' 증가,"강남 급매물 거래, 강북 풍선효과로 1월 대비 25% 늘어15억 초과 거래비중도 증...",https://n.news.naver.com/mnews/article/001/001...
1,2020-03-31,뉴스1,강남3구 아파트 값 하락세,(서울=뉴스1) 이승배 기자 = 강력한 대출 규제를 낀 정부의 12·16 부동산대책...,https://n.news.naver.com/mnews/article/421/000...
2,2020-03-29,조선일보,쌀값 3배 오른 동안 84배 상승한 강남 아파트,하나금융경영연구소 보고서최저임금도 GDP보다 상승폭이 더 커40년간 1인당 GDP와...,https://n.news.naver.com/mnews/article/023/000...
3,2020-03-31,국민일보,수억 값싼 급매물 출현… 서울 아파트 매매가격 하락세 돌입,지난해 6월 첫주 이후 처음… 코로나19 사태·규제 강화로 시장의 불안감 커졌기 때...,https://n.news.naver.com/mnews/article/005/000...
4,2020-03-31,아시아경제,코로나에도 늘어난 서울 아파트 거래,"지난달 서울 아파트 매매 계약 건수 8074건전월 대비 24.7%, 전년 동월 대비...",https://n.news.naver.com/mnews/article/277/000...
...,...,...,...,...,...
1126,2020-01-29,더팩트,"자이·힐스테이트·래미안…아파트 브랜드, 집값 얼마나 좌우할까",브랜드 아파트에 대한 수요층의 관심이 갈수록 두드지러지고 있다. /더팩트 DB브랜드...,https://n.news.naver.com/mnews/article/629/000...
1127,2020-01-23,헤럴드경제,12·16 규제 역풍맞은 이낙연 강남 아파트,이달 초에 전세 계약 체결최초 매물 등록은 지난달 11일최근 호가 낮췄지만 거래 끊...,https://n.news.naver.com/mnews/article/016/000...
1128,2020-01-28,디지털타임스,"지방 큰손, 상경투자 급증세… 9억 이하 아파트 집중 매입",작년 3687건 달해… 26% 차지중랑·구로 등 외곽지역서 활발서울의 한 부동산중개...,https://n.news.naver.com/mnews/article/029/000...
1129,2020-01-29,한국경제,집값 오르자…미분양 아파트도 웃돈,2~3년 전엔 눈물의 분양이젠 수천만원 프리미엄경기 용인 남사면에 들어선 'e편한세...,https://n.news.naver.com/mnews/article/015/000...
1130,2020-03-26,연합뉴스,[재산공개] 이정옥 장관 18억1천만원…김희경 차관 30억9천만원,정부측 인사하는 이정옥 여가부 장관(서울=연합뉴스) 진성철 기자 = 이정옥 여성가족...,https://n.news.naver.com/mnews/article/001/001...

In [ ]:
import re

string = "\n\t\t\t'정산회담' 김나희,"

pattern = r'[\n\t<>]'
string = re.sub(pattern, '', string)[1:-1]

In [ ]:
pattern = r'[\n\t<>\\]|&lt;|&gt;'
news_df.loc[10, 'content'] = re.sub(pattern, '', news_df.loc[10, 'content'])[1:-1]

In [ ]:
news_df.loc[10, 'content']

'지역별 매수우위지수 주간추이 / 사진=KB부동산 리브온오는 6월말까지 한시적 양도세 중과세 배제정책으로 몇몇 다주택자 물건이 초급매로 나오는 모양새지만, 서울 아파트 매수문의가 3월 셋째주 기준점인 100보다 낮은 91.8을 기록한 후 넷째주에는 더 하락해 81.1을 기록했습니다. 특히 강남 지역은 73.1로 매수 문의가 대폭 줄었습니다.전국 기준 매수문의지수도 지난주 74.3에서 이번주 66.9를 기록해 시장이 정부의 부동산 정책과 코로나19 장기화 영향을 받아 경색되고 있다는 진단이 나옵니다.오늘(30일) KB주택시장동향자료에 따르면, 3월 넷째주 전국 매수우위지수는 66.9를 기록해 전주(74.3)대비 크게 하락했습니다.코로나 사태로 인해 시장에서 매수에 대한 문의도 위축된 것으로 보입니다. 이 지수는 100을 초과하면 \'매수자가 많다\'를, 100 미만일 경우 \'매도자가 많다\'를 의미합니다. 서울도 81.1로 전주(91.8)대비 크게 하락했습니다. 강남지역은 지난주 82.8에서 73.1로 하락했고, 강북지역도 지난주(102.0)대비 하락한 90.2를 기록하며 매수문의가 대폭 줄어들었습니다.아파트 매매가격 지구는 인천(0.28%)과 경기(0.20%), 서울(0.06%)은 상승폭이 지난주보다 줄었고, 인천을 제외한 5개 광역시(0.07%)는 대전(0.29%)만 다소 높은 편입니다. 울산(0.06%), 부산(0.05%), 대구(0.03%)는 소폭 상승했고 광주(0.00%)는 보합을 보였습니다.수도권(0.16%)은 전주대비 상승했고, 광역시 이외의 기타 지방(-0.01%)은 하락했습니다. 세종(0.16%)만 상승했으며 경북(-0.04%), 경남(-0.02%), 충북(-0.02%), 강원(-0.01%), 전북(-0.01%)은 소폭 하락한 반면 충남과 전남은 보합(0.00%)을 기록했습니다.서울 아파트 매매가격은 전주 대비 0.06%로 지난주의 상승 0.12%보다 상승세가 크게 둔화되면서 보합권에 진입했습니다. 특히 강남구(-0.14%), 서초구(-0.04%), 송파구(-0.03%) 강남3구 모두 하락했고, 다수의 지역이 보합권에 가까운 정체를 보였습니다. 다만 광진구(0.22%), 양천구(0.22%), 금천구(0.20%) 등 일부지역만 소폭 상승했습니다.KB부동산 리브온 관계자는 "강남구는 9억 원 이상 자금계획서제출 등의 규제로 투자수요가 감소하면서 관망세를 이어 오다가 2월 코로나19 확산으로 문의전화가 급감하면서 거래 성사 자체가 안되는 시장이 장기화되고 있다"며 "조정대상지역 다주택자 6월말까지 한시적으로 양도세 중과세 배제 정책으로 이번 기회에 처분하려는 다주택자 매물이 초급매로 1~2건씩 나오고 있지만 매수자들은 추가 하락 기대감에 선뜻 거래에 나서지 않고 있다"고 진단했습니다.경기는 전주대비 0.20%의 변동률을 기록하면서 지난 주 상승률 0.24%보다 상승폭이 줄었습니다. 주간 상승률이 상대적으로 높은 지역은 군포(0.58%), 의왕(0.53%), 성남 수정구(0.50%), 부천(0.47%) 등입니다.의왕은 청계2지구, 내손다·라구역 재개발 호재로 투자자 문의와 거래가 꾸준한 편이며 경기도 미래형 시범학교 설립 예정지로 내손동이 선정되면서 가격 상승세를 이어가고 있습니다.인천 부평구는 학군, 교통, 주거환경이 잘 갖춰져 수요가 꾸준한 삼산동 일대 단지들과 7호선 연장·GTX-B노선 수혜 지역인 청천동, 산곡동 일대 단지들 매매가가 강세를 보이고 있습니다. 백운2구역 재개발 단지인 힐스테이트부평 고분양가 영향으로 주변 단지들 매매가도 상승 움직임을 보이고 있습니다.전국 아파트 전세가격은 전주대비 0.04% 상승했습니다. 수도권(0.05%)과 5개 광역시(0.07%)는 전주대비 올랐고, 기타 지방(0.00%)은 전주대비 보합을 기록했습니다.서울은 전주대비 0.02%를 기록했고, 경기(0.04%)는 전주대비 상승했습니다. 5개 광역시는 대전(0.33%)만 높게 상승했고, 울산(0.06%), 부산(0.02%), 대구(0.02%)는 미미한 상승을, 광주(0.00%)는 보합을 나타냈습니다.[MBN 온라인뉴스팀]▶네이버 메인에서 MBN뉴스를 만나보세요!▶MBN 무료 고화질 온에어 서비스 GO! Copyright ⓒ MBN(www.mbn.co.kr) 무단전재 및 재배포 금지 '

In [ ]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1388 non-null   object
 1   name     1388 non-null   object
 2   title    1388 non-null   object
 3   content  1388 non-null   object
 4   link     1388 non-null   object
dtypes: object(5)
memory usage: 54.3+ KB

In [ ]:
news_df.head()

,date,name,title,content,link
0,2020-03-31,연합뉴스,대출 중단 등 악재에도 2월 서울 아파트 거래량 '깜짝' 증가,"[\n\t\t\t강남 급매물 거래, 강북 풍선효과로 1월 대비 25% 늘어15억 초...",https://n.news.naver.com/mnews/article/001/001...
1,2020-03-31,뉴스1,강남3구 아파트 값 하락세,[\n\n\n\n\n(서울=뉴스1) 이승배 기자 = 강력한 대출 규제를 낀 정부의 ...,https://n.news.naver.com/mnews/article/421/000...
2,2020-03-29,조선일보,쌀값 3배 오른 동안 84배 상승한 강남 아파트,[\n하나금융경영연구소 보고서최저임금도 GDP보다 상승폭이 더 커\n\n\n\n40...,https://n.news.naver.com/mnews/article/023/000...
3,2020-03-31,국민일보,수억 값싼 급매물 출현… 서울 아파트 매매가격 하락세 돌입,[\n지난해 6월 첫주 이후 처음… 코로나19 사태·규제 강화로 시장의 불안감 커졌...,https://n.news.naver.com/mnews/article/005/000...
4,2020-03-31,아시아경제,코로나에도 늘어난 서울 아파트 거래,"[\n지난달 서울 아파트 매매 계약 건수 8074건전월 대비 24.7%, 전년 동월...",https://n.news.naver.com/mnews/article/277/000...

In [ ]:
news_df[news_df.duplicated(keep = False)].sort_values(by = 'title')

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
news_df[news_df.duplicated(keep = False)]['title'].value_counts()

9510가구에 매매 연 5건…1채 팔리자 시세 2억 뛰었다    6
서울 아파트 가격 상승세 주춤… 수원 영통·안양 만안 급등    5
서울 집값, 조정 문턱…상반기에 살까, 하반기까지 버틸까     4
서울 아파트 급매물에도 ‘거래실종’ 심화              4
지난달(01월) 아파트 매매 실거래가                4
                                   ..
서울 아파트 상위 10% 평균 매매가 사상 첫 20억 돌파    2
'동학개미'가 부동산으로 발길을 돌린다면 [여기는 논설실]    2
서울 아파트 매매 2건 중 1건 꼴로 ‘편법 증여’        2
서울 아파트 전세 상승률, 매매 상승세 앞질렀다          2
집값 오르자…미분양 아파트도 웃돈                  2
Name: title, Length: 207, dtype: int64

In [ ]:
news_df[news_df['name'] == '']

,date,name,title,content,link
1253,2020-05-25,,"‘구해줘 홈즈' 이현이X임성빈X노홍철, 매매가 4억 원대 ‘초코우유 하우스’ 승리",[OSEN=강서정 기자] '구해줘! 홈즈'에서는 덕팀의 ‘초.코.우.유 하우스’가...,https://n.news.naver.com/mnews/article/109/000...

In [ ]:
news_df.loc[304, 'date'][:10].replace('.', '-')

'2020-03-11'

In [ ]:
news_df[news_df['name'] == ''].count()

date       10
name       10
title      10
content    10
link       10
dtype: int64

In [ ]:
news_df[news_df['name'] == '']['link'].values

array(['https://n.news.naver.com/mnews/article/421/0004528266?sid=106',
       'https://n.news.naver.com/mnews/article/311/0001124417?sid=106',
       'https://n.news.naver.com/mnews/article/311/0001125532?sid=106',
       'https://n.news.naver.com/mnews/article/003/0009740646?sid=102',
       'https://n.news.naver.com/mnews/article/609/0000258718?sid=106',
       'https://n.news.naver.com/mnews/article/609/0000259501?sid=106',
       'https://n.news.naver.com/mnews/article/277/0004645150?sid=106',
       'https://n.news.naver.com/mnews/article/015/0004304426?sid=106',
       'https://n.news.naver.com/mnews/article/076/0003540534?sid=106',
       'https://n.news.naver.com/mnews/article/609/0000259765?sid=106'],
      dtype=object)

In [ ]:
news_df[news_df['content'] == '']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
news_df[news_df['title'] == '']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
news_df[news_df['title'].isna()]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
news_df['name'][22][12:-38]

'헤럴드경제'

In [ ]:
df1 = pd.read_excel('/content/2022.01.01 ~ 2022.01.01.xlsx')
df1

,Unnamed: 0,date,name,title,content
0,0,2022-01-01,NaN,서울 아파트 7주째 ‘팔자〉사자’… 전세도 4주째 매물이 많아,[\n서울 매매수급지수 27개월새 최저… 전국 지수도 12주 연속 하락\n\n\n\...
1,1,2022-01-01,NaN,[2022 부스트라다무스]② 이상우 “올해 집값 10% 오를 것. 서울 아파트 14...,[\n\t\t\t “2022년에도 집값은 10% 정도 오를 것이라고 전...
2,2,2022-01-01,NaN,작년 펄펄 끓었던 부동산시장…'빙하기'로 마무리,"[\n[집값 톡톡]서울 은평·도봉·강북 아파트값 하락거래량, 금융위기 이후 최저…정..."
3,3,2022-01-01,NaN,"집값 ""더 오른다"" vs ""하락, 이미 시작""[새해 부동산 어디로①]","[\n기사내용 요약전문가 10인, 작년 13.3% 올라…4분기부터 주춤상승 전망 여..."
4,4,2022-01-01,NaN,청년들이 뽑은 최대 현안 ‘자산 격차 해소’,[\n[앵커]부동산을 중심으로 한 자산 불평등 문제도 심각하죠.집값이 너무 많이 오...
5,5,2022-01-01,NaN,올해 42만 가구 쏟아진다…둔촌·송파 등 민영 분양 줄줄이,[\n[앵커]집값이 폭등한 상황에서 내 집 마련의 꿈을 이룰 수 있는 현실적인 수단...

In [ ]:
df1.loc[0, 'content']

'[\n서울 매매수급지수 27개월새 최저… 전국 지수도 12주 연속 하락\n\n\n\n서울 아파트를 사려는 사람보다 팔려는 사람이 많은 상태가 7주 연속 계속되고 있다. 금리 인상과 대출 규제뿐만 아니라 대선 전 눈치 보기 등으로 거래절벽이 한동안 이어질 것으로 전망된다. 31일 한국부동산원에 따르면 지난해 12월 넷째 주(27일 기준) 서울 아파트 매매수급지수는 93.5로 전주(93.9)보다 0.4포인트 떨어졌다. 이는 2019년 9월 셋째 주(93.0) 이후 2년 3개월 만에 가장 낮은 수치다. 이 지수가 100을 밑돌수록 공급(매물)이 수요보다 많아 매도세가 짙다는 뜻이다.  지난해 서울 아파트 매매수급지수는 4월 첫째 주(96.1)를 제외하고 100을 웃돌았다가 11월 셋째 주(99.6) 기준선 밑으로 떨어진 뒤 현재까지 7주 연속 하락세를 보이고 있다. 이런 분위기는 전국으로 범위를 넓혀도 비슷하다. 12월 넷째 주 전국 아파트 매매수급지수는 96.1로 지난주보다 0.7포인트 하락했다. 10월 둘째 주(105.4) 이후 12주 연속 하락하면서 4주 연속 100을 밑돌고 있다.  전국 17개 시도 중 아파트 매매수급지수가 가장 낮은 세종의 이번 주 매매수급지수는 전주(81.1) 대비 2.6포인트 떨어진 78.5로 조사됐다. 2015년 3월 둘째 주(76.3) 이후 6년 9개월 만에 최저치다. 아파트 전세 시장도 위축되는 분위기다. 12월 넷째 주 서울 아파트 전세수급지수는 95.7로 전주(96.9) 대비 1.2포인트 떨어지면서 4주 연속 100 아래에 머물렀다. 전국 아파트 전세수급지수(98.7) 역시 2주 연속 100을 넘지 못했다. 고준석 동국대 법무대학원 겸임교수는 “정부의 대출 규제, 금리 인상 등으로 수요자들의 자금 여력이 부족해졌다”며 “대선을 앞두고 정책 변수가 많기 때문에 매도자들과 매수자들이 선택을 미루며 거래절벽이 심해진 점 역시 시장 위축을 부추기고 있다”고 설명했다.\n]'

In [ ]:
s_date

'2022.01.01'

In [ ]:
news_contents

['[\n수요 감소에 계약 만기 임박한 물건, 수천만원 낮춰 계약전셋값 급등·대출 규제 등에 재계약 늘고 신규 수요는 억눌린 탓약보합 전환 분위기속 일각선 4년치 인상 반영해 최고가 거래 \'대조\'(서울=연합뉴스) 서미숙 기자 = 최근 서울 아파트 매매 시장에 이어 전세 시장에서도 실거래 가격이 이전 거래에 비해 하락한 단지들이 늘어나는 분위기다.     대출 규제, 계약갱신청구권 사용 등으로 재계약은 늘고 평수를 넓히거나 거주지를 옮기려는 이동 수요는 급감하면서 \'급전세\' 계약이 증가한 것이다.     이 때문에 최근 서울 아파트 매매 가격이 일부 하락한 가운데 전셋값도 약세로 돌아서는 게 아니냐는 관측이 나온다.    반면 일부 단지와 주택형에 따라서는 역대 최고가 전세 거래도 성사돼 전월세 시장 불안의 불씨는 여전히 남아 있다는 지적도 만만치 않다. \n\n\n\n서울시내 아파트[연합뉴스 자료사진]  신규 전세 계약, 종전 대비 하락 거래 늘어     9일 서울부동산정보광장의 전세 실거래가 자료를 보면 최근 들어 신규 전세 계약으로 보이는 거래 중 종전 거래가격보다 신고금액이 하락한 경우가 속속 등장하고 있다.    최근 2년 새 계약갱신청구권 등 \'임대차 2법\' 시행으로 전셋값이 급등한 데다 금융당국이 전세자금 대출을 엄격하게 규제함에 따라 신규로 전세를 얻으려는 이동 수요가 줄어들면서 전세 물건이 적체되는 경우가 많아진 것이다. 이 때문에 전세 계약 만기가 임박한 집주인 가운데 일부는 당초 내놨던 금액보다 낮춰 전세 계약을 하는 경우가 늘고 있다.     송파구 잠실동 잠실엘스 전용 84.88㎡는 지난해 10월 최고 14억원짜리 전세계약이 2건 있었으나 12월 들어서는 최고가 거래금액이 13억원으로 낮아졌다.    잠실 리센츠 전용 59.99㎡도 지난해 8월 최고 11억8천만원까지 전세계약이 이뤄졌는데 9월 이후에는 10억원이 넘는 전세계약은 한 건도 없었고, 12월 들어서는 최고가 거래가 8억1천900만원으로 내려왔다.     잠실의 한 중개업소 대표는 "2년 새 전세가 너무 오르다 보니 대부분 계약갱신청구권을 써 재계약을 하거나 인상된 전세 보증금만큼 월세로 전환하는 거래가 많다"며 "그간 전셋값을 지탱해준 전세자금 대출도 제약이 생기면서 신규 유입 수요가 감소했다"고 말했다. \n\n\n\n잠실 아파트 모습 [연합뉴스 자료사진]강남구 대치동 은마아파트 전용 84.43㎡도 지난해 10월 최고 11억원에 전세계약이 이뤄졌는데 12월 들어 최고 10억원에 1건이 거래된 것 외에는 대부분의 8억∼9억원대에 신규 거래가 이뤄졌다.     학군 수요가 많은 양천구 목동 신시가지 단지 일대도 마찬가지다.    신시가지 7단지 전용 66.6㎡는 지난해 11월 하순 8억7천만원까지 거래가 이뤄졌으나 12월 들어선 신규 계약금액이 8억원 정도로 내려왔고, 신시가지 3단지 전용 64.98㎡도 지난해 11월 7억5천만원까지 계약됐으나 지난달엔 최고 거래가가 7억2천만원으로 하락했다.    마포구 아현동 마포래미안푸르지오 2단지 전용 84.6㎡는 지난해 9월 11억5천만원까지 전세 거래가 이뤄졌으나 지난달에는 10억5천만원으로 1억원 떨어진 금액에 계약이 이뤄졌다.     아현동의 한 중개업소 대표는 "임대인 입장에서는 계약갱신청구권을 의식해 일단 높은 시세 수준에 전세를 내놓지만 최근 전세 수요가 감소하면서 만기에 몰린 집주인들은 결국 가격을 낮춰 계약하고 있다"며 "올해 1∼2월에 전세 만기가 도래하는 물건 중에는 최고가 대비 1억∼1억5천만원 이상 호가를 낮춘 것들도 있다"고 말했다.    목동의 한 중개업소 대표는 "예년에 비해 신규 전세를 찾는 사람이 월등히 줄었다"며 "시세 자체가 하락했다고 보긴 어렵지만 실제 거래는 그나마 급전세 수준으로 가격을 떨어뜨려야 수월히 이뤄진다"고 전했다.\n\n\n\n서울의 부동산 중개업소 [연합뉴스 자료사진] 전세 수급지수도 5주째 하락에 가격 안정 기대감…전문가 "속단은 일러"    서울 아파트 전세시장이 예년에 비해 안정세를 보이는 것은 수급지수에서도 나타난다.    한국부동산원의 서울 아파트 전세수급지수는 94.5로 5주 연속 기준선(100)을 밑돌아 수요보다 공급이 많았고, 지수 자체도 하락세다. 이는 2019년 9월 16일(92.2) 이후 약 2년 4개월 만에 가장 낮은 수치다.    서울 아파트 전셋값은 아직 하락 지역은 없지만 지난해 9월 0.17%에서 지난주는 0.02%까지 상승률이 둔화돼 보합 전환이 임박했다.    이 때문에 정부는 최근 매매 시장에서 하락 지역이 늘고 있는 것처럼 전셋값도 하향 조정될 것이라는 관측을 조심스레 내놓고 있다.     그러나 일부 자금 사정에 여유가 있는 집주인들은 계약갱신청구권을 감안해 신규 전세계약시 4년치 인상분을 한꺼번에 반영하려고 가격을 올리는 경우도 여전해 아직 전셋값 안정을 낙관하기에는 이르다는 지적도 많다.    실제 잠실 리센츠 전용 84.99㎡는 지난해 11월 30일 역대 최고가인 17억원에 계약됐고, 서초구 반포동 반포자이 전용 59.98㎡도 지난해 11월 20일 역대 가장 높은 16억원에 전세 거래가 이뤄졌다.    특히 잠실 리센츠 전용 84.99㎡의 경우 지난해 11월부터 12월까지 신고된 전세 거래가격이 최저 8억4천만원부터 최고 17억원까지 2배 이상(8억6천만원) 벌어지는 등 적정 시세를 가늠하기 어려울 정도로 격차가 크다.     서초구 반포동의 한 중개업소 대표는 "최근 대출 규제가 묶이고 전셋값이 너무 오르다 보니 세입자들이 비자발적으로 재계약을 하고 눌러앉는 경우가 많고, 집주인들도 갱신권이 종료되면 전셋값을 정상대로 올리려는 경우가 많을 것"이라며 "올해 서울 아파트 신규 입주물량도 줄어드는데 계약갱신청구권을 사용한 전세물건이 본격적으로 나오는 하반기 이후에는 전셋값이 더 오를 가능성도 크다"고 내다봤다.     sms@yna.co.kr\n]',
 "[\n1억 낮은 가격도 응찰자 없어강남 고가주택 줄줄이 유찰서울 아파트 낙찰률 46.9%7년만에 최저치로 추락인천·울산 등 광역시서도낙찰가가 감정가 밑돌아\n\n\n\n서울 잠실 롯데월드타워에서 내려다본 서울 시내 아파트 전경. [매경DB] 주택 매매시장에 이어 경매시장에도 한파가 불어닥치고 있다. 70%를 웃돌던 서울 아파트 경매 낙찰률은 지난달 50%선이 무너졌다. 경매시장에 나온 물건 절반 이상이 새 주인을 찾지 못했다는 의미다. 전문가들은 지속적인 금리 인상 이슈와 높아진 대출문턱 때문에 매수세가 급격히 감소하면서 시장이 얼어붙고 있는 것으로 진단한다.10일 법원경매 전문기업 지지옥션이 발표한 '2021년 12월 경매 동향 보고서'에 따르면 지난달 서울 아파트 경매 낙찰률은 46.9%로 전달(62.2%) 대비 15.3%포인트 하락했다. 코로나19로 인한 급작스러운 법원 휴정 사태로 낙찰률이 10%(10건 중 1건 낙찰)였던 2020년 3월을 제외하면 2014년 10월(46.7%) 이후 가장 낮은 수치다.실제 지난달 28일 서울북부지방법원에서는 성북구 하월곡동 월곡두산위브(전용면적 85㎡)에 대한 경매가 진행됐다. 입찰 최저가는 감정가인 8억6600만원으로, 지난해 10월 매매시장에서 거래된 동일 전용면적 물건(9억4500만원)보다 7900만원 낮았지만 응찰자가 없어 유찰됐다. 현재 이 단지의 같은 전용면적 매물의 시장 호가는 10억원을 웃돈다. 시장 거래가 대비 1억원 이상 낮은 가격에 물건을 취득할 수 있는 기회가 생겼지만 주택 수요자에게 외면을 받은 것이다. \n\n\n\n 고가 아파트 역시 상황은 비슷하다. 지난달 8일 서울중앙지방법원에서 열린 역삼동 래미안그레이튼(전용면적 142㎡) 경매에서도 응찰자가 나오지 않았다. 이 물건 감정가는 29억8000만원으로 지난해 4월 매매시장에서 거래된 동일 면적 물건 매매가(31억원) 대비 1억원 이상 낮다.서울 아파트 경매시장은 지난해 10월까지만 해도 낙찰률이 70%에 이를 정도로 '불장'이었다. 당시 서울 아파트 낙찰가율(감정가 대비 낙찰가)은 119.9%로 월간 기준 역대 최고치를 기록할 정도였다. 물건 감정가가 경매 일시보다 통상 3~6개월 전에 결정되기 때문에 상승장에서 시세 차익을 보려는 투자자들 발길이 몰렸다.하지만 최근 들어 경매시장에서 관망세가 커졌다. 응찰자는 급감했고 하늘 높은 줄 모르고 치솟던 낙찰가율도 큰 폭으로 떨어졌다. 지난해 9월까지만 해도 서울 아파트 기준 평균 응찰자는 7.2명이었지만 지난달 3.4명으로 반 토막이 났다. 낙찰가율도 같은 기간 115%에서 103.3%로 떨어졌다.인천 아파트 경매시장 역시 상황은 비슷하다. 지난해 8월부터 10월까지 120%대로 높은 낙찰가율을 보였던 인천 아파트 경매시장은 12월 낙찰가율이 105.7%로 전달(111.9%) 대비 6.2%포인트 하락했다. 평균 응찰자 역시 전달보다 1.1명 줄어 연중 최저치인 4.7명으로 집계됐다. 지방 5대 광역시 아파트 낙찰가율도 지난달 모두 하락했다. 하락 폭이 가장 컸던 지역은 울산으로 전월(108.2%) 대비 14.2%포인트 떨어지며 94%를 기록했다. 울산 아파트 낙찰가율이 100%대 아래로 내려간 것은 지난해 7월(97.2%) 이후 5개월 만이다. 부산(94.7%), 대구(95.1%), 대전(97.1%)도 낙찰가율이 100%를 밑돌았다.업계에서는 대출 규제가 경매시장에 강한 영향을 미치고 있는 것으로 분석한다. 경매 물건을 담보로 받는 경락잔금대출은 주택담보대출의 일종으로 관리돼 정부 규제를 동일하게 적용받는다. 대출 규제로 돈줄이 막히면서 수요자들의 경매시장 진입에 제약이 커진 것으로 보인다.\n]",
 '[\n\t\t\t        대출 규제와 금리 인상 등의 영향으로 아파트 ‘거래절벽’이 심화되고 있는 가운데, 초소형 아파트 매매는 오히려 늘어난 것으로 나타났다. 대출 규제 영향을 덜 받다 보니 실거주 수요자들의 거래는 원활하게 이어졌던 셈이다.\n\n\n\n지난달 서울 남산에서 바라본 시내 아파트 모습 / 연합뉴스        10일 한국부동산원에 따르면, 작년 11월 전국 전용면적 40㎡ 미만 초소형 아파트 매매 건수는 3746건으로 전달(3644건)에 비해 2.8% 증가했다. 같은 기간 전용 60㎡ 초과 중·대형 평형의 매매 건수는 2만5382건에서 2만1606건으로 14.9% 감소한 것과 대조적이다.전체 아파트 매매량에서 초소형 아파트가 차지하는 비율도 높아졌다. 작년 11월 전국 아파트 매매량 4만1141건에서 초소형 아파트 매매량이 차지하는 비율은 9.1%로 재작년 동기(5.4%) 대비 3.7% 포인트(P) 증가했다. 중·대형 아파트의 비중은 재작년 11월 61.9%에서 작년 11월 52.5%까지 떨어졌다.초소형 아파트의 강세는 서울에서 더욱 두드러졌다. 지난해 11월 서울의 전용 40㎡ 미만 초소형 아파트 매매 건수는 424건으로 전달(359건)에 비해 18.1% 증가했다. 반면, 중·대형 평형의 매매 건수는 1598건에서 1192건으로 감소했다. 거래절벽이 중·대형 평형 아파트에 집중된 것이다.서울에서 초소형 아파트 매수세는 주로 서부권에 몰렸다. 작년 11월 서울에서 초소형 아파트 매매량이 가장 많은 곳은 영등포구(57건)다. 이외 ▲강동구·은평구 36건 ▲강서구 35건 ▲서초구 29구 ▲강남구 28건 ▲동대문구 23건 ▲노원구 19건 ▲구로구 18건 ▲관악구 16건 등이다. 상위 10개 자치구 중 6개가 서부권이다.영등포구에서 매매량이 가장 많은 아파트는 영등포동 ‘헤렌어반’이다. 전체 가구수가 147가구인 이 단지는 지난 11월 한달 간 7가구가 매매됐다. 11월 동안 매매된 7개 모두 전용면적 12~13㎡ ‘원룸형’ 아파트다. 강동구에서 지난 11월 가장 많이 매매 계약이 체결된 아파트도 전용 14~19㎡로 구성된 ‘에스아이팰리스센트럴 성내’다.일부 지역의 초소형 아파트는 신고가를 경신하고 있다. 서울 도봉구 창동 ‘주공 18단지’ 전용 32.3㎡은 지난해 11월 5억4000만원에 거래됐다. 직전 매매가인 5억1000만원보다 3000만원 상승한 것으로, 작년 초 매매가가 4억3500만원이었던 것과 비교하면 11개월 간 상승률이 24.1%에 달한다.초소형 아파트 매매량이 줄곧 상승세를 이어온 것은 아니다. 작년 5월 720건을 기록했던 서울의 초소형 아파트 매매건수는 6월 500건대로 떨어지더니 10월 369건까지 내려 앉았다. 그러나 11월 들어 다시 증가세로 돌아섰다. 작년 11월 기준, 1년간 서울 초소형 아파트 매매량은 24.7% 감소했는데, 중·대형 평형 매매량의 감소폭(-55.0%)의 절반도 채 되지 않는다.다른 수도권 지역의 초소형 아파트 거래량도 서울과 비슷한 추이를 보고 있다. 지난 11월 경기와 인천의 초소형 아파트 매매량은 각각 516건과 212건으로, 전달에 비해 소폭 줄어들었다. 작년 11월 기준, 1년간 매매량 감소폭은 경기 35.5%, 인천 8.6%로 50~60%대를 오가는 중·대형 아파트 매매량 감소폭 보다 작았다.윤지해 부동산R114 수석연구원은 “최근 부동산 매매시장은 무주택자가 1주택자가 되거나, 1주택자가 갈아타는 등 실수요자 시장으로 재편됐다”면서 “실수요자 중심으로 시장이 돌아가다보니, 중·대형 평형 아파트는 가격 진입 장벽이 높아 초소형으로 매수세가 이동하고 있다. 한동안 ‘노·도·강’ 아파트가 각광받았던 것과 비슷한 이유”라고 했다.\n]',
 '[\n\n\n\n\n[서울=뉴시스] 추상철 기자 = 이번주 서울의 아파트 매매가격이 0.02% 오르면서 20개월 만에 가장 낮은 주간 변동률을 기록해 이번 달 내로 하락 전환 가능성이 유력해 지고 있다 9일 오후 서울 송파구의 한 공인중개사 사무소에 급매물 안내문이 부착돼 있다. 2022.01.09. scchoo@newsis.com[사진 영상 제보받습니다] 공감언론 뉴시스가 독자 여러분의 소중한 제보를 기다립니다. 뉴스 가치나 화제성이 있다고 판단되는 사진 또는 영상을 뉴시스 사진영상부(n-photo@newsis.com)로 보내주시면 적극 반영하겠습니다.\n]',
 '[\n\n\n\n\n서울 일대 아파트 전경(사진=연합뉴스)매매시장에 이어 서울 아파트 전세시장도 급격히 얼어붙고 있다. 대치·잠실·목동 등 학군 수요가 많은 서울시내 주요 지역에서도 ‘급전세’가 늘며 하락 거래가 속출하는 모습이다. 지난해 전셋값이 급등한데 따른 가격 부담에 대출규제, 금리 상승까지 겹치면서 세입자들의 이탈이 잇따르기 때문으로 보인다.\n\n\n\n10일 한국부동산원에 따르면 이달 첫째 주(3일 기준) 서울 아파트 전세수급지수는 94.5를 기록해 전주(95.7)보다 1.2포인트 떨어졌다. 서울 전세수급지수는 지난해 12월 들어 약 1년 6개월 만에 기준점인 100 이하로 떨어진 이후 5주 연속 기준선을 밑돌았다. 전세수급지수가 기준선보다 낮으면 수요보다 공급이 많다는 의미다.서울 주요지역에서는 전세 실거래가가 수억원 떨어진 곳이 목격되고 있다. 국토교통부 실거래가 공개시스템에 따르면 송파구 잠실동 엘스 84.8㎡(전용면적)는 지난해 11월에 역대 최고가인 15억원에 두 건의 전세계약이 체결됐지만 12월에는 12억3000만원으로 2억7000만원이나 떨어졌다.학군 1번지로 불리는 대치동과 목동 일부 단지도 마찬가지다. 강남구 대치동 은마 84.43㎡는 지난해 10월 최고 11억원까지 전셋값이 뛰었지만 지난해 말에는 8억2000만원에 신규거래가 이뤄졌다. 양천구 목동 신시가지7단지 66.6㎡는 지난해 11월 8억7000만원에 거래됐지만 12월 들어서는 7억원에 전세계약이 체결됐다.서울시내 전반적인 가격 상승세도 둔화됐다. 지난해 12월 첫재 주 0.10%였던 서울 아파트 전세가격 상승률은 이달 첫째 주에는 0.02%로 사실상 보합세를 기록했다. 성북구와 금천구는 각각 -0.01%의 하락세를 나타내기도 했다. 노원·은평·서대문구는 상승률이 0.00%로 집계되며 상승세가 멈췄다.쌓이는 전세 매물… 대출규제·금리인상으로 자금조달 부담 커져이같은 기류 변화는 매물 적체 때문으로 풀이된다. 부동산 정보업체 아파트실거래가(아실)에 따르면 서울 아파트 전세 매물은 9일 기준 3만1261건으로 두 달 전인 지난해 11월 9일(2만9200건)보다 2061건(7%) 늘었다.  이 기간 양천구는 683건에서 1031건으로 348건(50.9%), 서대문구는 716건에서 1007건으로 291건(40.6%)으로 매물이 급증했다. 송파구 역시 2916건에서 3616건으로 700건(24%) 증가했다.이에 더해 지난해부터 아파트 단지마다 전셋값이 급등하자 계약갱신청구권을 행사해 기존 계약을 갱신하는 경우가 점점 늘어나면서 새로운 전세 수요가 확 줄어든 것으로 보인다. 최근 들어 대출규제와 금리인상까지 겹치면서 세입자들의 자금조달 부담도 커졌다.송승현 도시와 경제 대표는 "대출규제와 금리인상 등으로 자금조달에 대한 영향을 받으면서 수요자들이 그동안 크게 오른 전셋값을 감당하기 어려워진 분위기"라며 "급전세가 아니면 임대인과 임차인 간의 가격 형성이 쉽게 이뤄지지 않으면서 매물이 쌓이고 있는 것으로 보인다"라고 설명했다.\n]',
 '[\n40% 넘게 올랐다 하락 반전한 세종신고가 대비 1억원 이상 떨어진 거래 \'수두룩\'수요 부진·물량 폭탄에 집값 \'발목\'\n\n\n\n세종시 다정동 인근 아파트 전경. 사진=이송렬 기자"지금은 세종에서 집을 사려는 사람도, 팔려는 사람도 없습니다. 가격이 너무 비싸다는 인식이 많은 거죠", "수도 천도론 얘기가 나온 이후 전국에서 투자자들이 몰려왔었죠. 근데 (천도론이) 흐지부지된 이후 투자자들이 많이 떠났습니다. 거의 실수요자들만 남은 상황이에요." (세종시 일대 부동산 공인 중개업소 관계자들)지난해 전국 아파트값이 대부분 올랐지만 유일하게 된서리를 맞은 곳이 있다. 바로 세종시다. 2020년 42.37% 뛰었지만 지난해에는 0.68% 하락했다. 집값이 가장 많이 치솟았던 지역이 1년 새 가장 오르지 않은 지역으로 돌변한 것이다. 천도론에 몰려왔던 투자자들은 죄다 빠져나갔고, 지난해 중순부터 이어지고 있는 ‘공급 폭탄’이 집값에 영향을 주고 있다는 게 현지에 있는 부동산 중개업소들의 설명이다. 하락 거래 나오는 세종시 아파트10일 국토교통부 실거래가 공개시스템에 따르면 정부세종청사 인근 도담동에 있는 \'도램마을 14단지(한림풀에버)\' 전용 99㎡는 이달 10억7000만원에 매매가 이뤄졌다. 지난해 기록한 신고가(11억8000만원)보다 1억1000만원 내린 수준이다. 인근 단지인 \'도램마을 9단지(제일풍경채)\' 전용 106㎡도 지난해 11월 12억2000만원에 팔렸는데, 신고가(14억4500만원)보다는 2억2500만원 내린 수준이고 직전 거래 13억2000만원보다는 1억원 떨어졌다.아름동에 있는 \'범지기마을 7단지 호반에코시티\' 전용 84㎡는 지난해 11월 5억7500만원에 새주인을 찾았는데 직전 신고가(6억6000만원)보다 8500만원 내렸고, \'범지기마을 1단지(한양수자인에듀센텀)\' 전용 59㎡는 지난해 12월 4억4000만원에 팔려 신고가(6억원)보단 1억6000만원이 하락했다.\n\n\n\n세종시 아파트 전경. 사진=이송렬 기자고운동에 있는 \'가락마을9단지(신동아 파밀리에)\' 전용 59㎡도 작년 12월 4억5000만원에 거래됐는데 직전 거래(4억6000만원)보다는 1000만원 떨어졌고, 신고가(5억원) 대비로는 5000만원 하락했다. \'가락마을 20단지(호반베르디움5차)\'도 지난해 11월 6억700만원에 새 주인을 찾았는데, 신고가(6억9800만원)보다 9200만원 내린 가격에 매매 계약이 맺어졌다.종촌동에 있는 \'가재마을12단지\' 전용 84㎡도 지난해 12월 7억1500만원에 거래됐는데 올해 신고가(8억5000만원)보다 1억3500만원 내렸고, \'가재마을3단지\' 전용 108㎡ 역시 지난해 말 7억5000만원에 매매 계약이 맺어져 직전 신고가(8억7000만원)보다 1억2000만원 떨어졌다.현지에서는 세종시 부동산 시장 침체가 가격 급등에 따른 피로감 때문이라고 보고 있다. 세종시 어진동에 있는 A 공인 중개 대표는 "세종시 최근 부동산 시장은 조용하다"며 "사려는 실수요자들도 없지만 팔려는 집주인들도 없다"고 평가했다. "가격 급등에 실수요자들 부담"…늘어나는 \'공급\'도 부담한국부동산원에 따르면 세종시 집값은 2020년 42.37% 치솟아 전국에서 나 홀로 급등했다. 같은 해 두 번째로 많이 오른 지역이 대전 유성구(22.58%)였는데 20%포인트가량 차이 난다. 당시 집값 급등의 원인은 \'세종 천도론\' 때문이었다. 2020년 7월 김태년 더불어민주당 의원(당시 원내대표)은 "행정수도를 제대로 완성할 것을 제안한다. 국회가 통째로 세종시로 내려가야 한다"며 "적극적인 논의를 통해 청와대와 정부 부처도 모두 이전해야 한다"며 서울에 남아 있는 정부 부처의 세종시 이전을 주장했다. 당시 정부도 "국회에서 여야 공감대를 만들면 추동력이 생길 수 있다"고 말해 천도론을 부채질하기도 했다.세종시 나성동에 있는 B 공인 중개 관계자는 "천도론 얘기가 나온 이후 인근에 있는 대전부터 전국에 있는 투자자들이 세종을 주목했다"며 "행정 수도가 이전하면 인프라가 구축될 것이라는 기대 심리가 커지면서 집값이 뛰었다"고 했다. 하지만 최근 분위기는 다르다는 게 기 관계자의 설명이다. 그는 "행정 수도 이전에 대한 기대감이 떨어지면서 투자자들이 세종시를 많이 빠져나갔다"며 "투자 수요로 오른 가격을 실수요가 받지 못하는 상황이 이어지다 보니 하락 거래가 나오는 것"이라고 봤다.\n\n\n\n세종자이 더 시티 공사현장과 멀리보이는 세종시 아파트들. /  사진=이송렬 기자이러한 와중에 공급이 늘어난 점도 가격 부진 원인 가운데 하나로 꼽힌다. 부동산 정보 제공 앱(응용프로그램) 아파트 실거래가에 따르면 2020년 세종시 입주 물량은 4287가구였는데, 지난해엔 7668가구로 3000가구 이상 늘었다. 작년 상반기엔 공급 물량이 1716가구에 불과했지만 하반기에 5952가구가 몰리면서 집값에 영향을 줬다는 게 현지에서의 얘기다.세종시 아름동에 있는 C 공인 중개 관계자는"지난해 공급 물량이 직전 연도보다 더 많았다는 점도 집값이 부진한 이유 중에 하나"라며 "일부 갈아타기를 하려는 실수요자들이 잔금은 마련해야겠고 기존 살고 있던 집은 안 나가니 울며 겨자 먹기로 기존 집을 싸게 내놓은 경우도 있는 것으로 알고 있다"고 했다.그러면서 "물량을 받을 실수요자들은 적은데 공급은 계속되니 매물이 쌓이면서 가격이 내린 것 아니겠느냐"며 "공급 물량이 어느 정도 해소되는 시점에 집값 반등 얘기할 수 있지 않겠느냐"고 귀띔했다. "2030년까지 계획된 도시, 반등 여력 충분"세종시는 수요 위축과 공급 증가로 집값이 떨어지고 있지만, 일각에서는 현 상황이 급등에 따른 \'일시적인 조정기\'라고 보는 시각도 있다. 세종시 자체가 2030년까지 개발이 계획된 도시로, 성장 가능성이 남았다는 판단에서다. 지난해 9월 세종시에 국회의사당 분원을 설치하는 국회법 개정안이 본회의를 통과하면서 ‘천도론’이 다시 떠오르고 있는 상황이기도 하다.고운동에 있는 D 공인 중개 관계자는 "세종시에 사는 실수요자들은 2030년까지 세종시가 계속 개발될 것이라고 보고 집값이 주춤한 현 상황에 대해 \'일시적 조정기\'로 보고 있다"며 "향후 행정 수도 이전 등이 가시화되면 인근 도시에서 세종으로 이주하는 수요가 있지 않겠냐"며 "길게 보면 결국 집값은 우상향할 것"이라고 주장했다.한편 한국부동산원이 발표하는 주간 아파트 가격 동향에 따르면 세종 집값은 지난해 0.68% 떨어져 유일하게 집값이 하락한 지역이 됐다. 작년 5월 셋째 주(17일) 처음으로 0.10% 내려 하락 반전한 이후 등락을 지속하다가 7월 넷째 주(26일)부터 23주 연속 내림세를 유지했다. 지난해 12월 마지막 주(27일)엔 하락 폭이 0.63%에 달했다.\n]',
 "[\n\n\n\n\n최근 서울 아파트 매매 시장에 이어 전세 시장도 가격이 내려가는 모습이 나타나며, 전셋값도 약세로 돌아설 수 있단 전망이 나오고 있습니다.서울부동산정보광장의 전세 실거래가를 보면, 서울 일부 단지 등의 신규 전세 계약에서 앞선 거래보다 가격이 하락한 사례가 잇따라 나타났습니다.또 한국부동산원의 서울 아파트 전세수급지수도 94.5로 5주 연속 기준선 100을 밑돌아 수요보다 공급이 많았고, 지수 자체도 하락세입니다.이는 2년 4개월 만의 최저치인데, 최근 대출 규제로 신규 수요가 줄며, 세입자 구하기가 어려운 집주인들이 값을 내리는 것으로 풀이됩니다.하지만 계약갱신청구권을 고려한 집주인들이 4년 치를 한꺼번에 올리려는 경우도 여전해 전셋값 안정을 낙관하긴 이르단 지적도 나옵니다.※ '당신의 제보가 뉴스가 됩니다'[카카오톡] YTN 검색해 채널 추가[전화] 02-398-8585[메일] social@ytn.co.kr\n\t\t]",
 '[\n유권자와 함께하는 대선 정책 ‘나의 선거, 나의 공약’②집을 포기했다: 23명의 이야기 上편“재개발은 집주인만 좋은 일”“10년 거주 공공임대 분양가 폭등”\n\n\n\n왼쪽부터 폭등한 집값과 전셋값 문제를 지적한 이문수(가명·45)씨, 화성 동탄 분양전환 공공임대 임주자 이석주(39)씨, 공공임대 보증금 부담을 호소한 장중근(35)씨 ※ 이미지를 누르면 크게 볼 수 있습니다.&lt;한겨레&gt;가 만난 무주택자 23명은 유례없는 집값 폭등이 이어진 문재인 정부를 지나며 후회와 배신감, 좌절과 낙담과 같은 감정을 가감 없이 쏟아냈다. 다만 소득과 자산 수준에 따라 마음가짐은 달랐다. 애초 실명을 전제로 인터뷰에 응한 이들 중 일부는 전세보증금과 월세, 소득과 자산, 부채 등 경제적 프라이버시를 털어놓은 뒤 익명 요구로 전환했다.\n\n\n\n후회: “그때 집을 샀어야”“경기도 부천에 사는 친구들이 저한테 ‘집 샀냐’고 물어봐서 아니라고 하니까 ‘벼락거지네’ 이러더라고요. 현타(현실 자각 타임)가 왔죠.” 서울 영등포구 당산동 전용 84㎡ 아파트에 보증금 4억원에 40만원 월세로 살고 있는 윤영민(가명·42)씨가 한 말이다. 그가 2014년 6억원대에 살 기회를 놓친 마포래미안푸르지오 전용 84㎡ 아파트는 지난해 최고 실거래가 19억3500만원(110A타입)을 찍었다.한국부동산원 자료를 보면, 문재인 정부가 출범한 2017년 5월 5억7천만원이었던 평균 아파트 매매가격은 지난해 11월 11억4천만원으로 4년6개월 만에 2배로 올랐다. 서울의 평균 아파트 매매가격은 2018년 12월까지만 해도 7억1천만원이었다. 398만가구 중 51.5%(205만가구)가 무주택인 서울에서 ‘벼락거지’와 같은 자조가 횡행하고 “2017년 이전으로 돌아가자”는 ‘타임슬립’ 요구가 빗발친 까닭이다.폭등한 시세는 공공분양 분양가에 반영돼 공공 공급대책을 바라던 시민들을 절망케 했다. 분양가의 상당 부분을 차지하는 택지비가 주변 시세를 반영하는 감정평가를 통해 결정되기 때문이다. 지난해 4차 사전청약에서 공급된 서울 대방 신혼희망타운 분양가는 7억2천만원에 이르렀다. 2020년 신혼부부 연평균 소득(5989만원)을 한푼도 쓰지 않고 12년 동안 모아야 손에 쥘 수 있는 금액이다. 지난해 8월 일곱번째 3기 새도시로 발표된 의왕·군포·안산 지구도 비슷하다. 2018년 이곳에 전세 2억4천만원을 주고 입주한 강주현(37)씨는 당시 2억9천만원이던 매맷값이 최근 6억원 이상으로 뛰었다고 했다. “안 산 내가 바보죠. 집을 못 샀다는 분노나 후회로 너무 고통을 받아서 지금은 체념한 상태예요.”\n\n\n\n ※ 이미지를 누르면 크게 볼 수 있습니다.배신감: “정부에 사기당해”2기 새도시인 파주 운정의 ‘10년 분양전환 공공임대’에서 절망은 극대화했다. 박혜민(가명·38)씨는 지난해 8월 분양전환을 두달 앞둔 공공임대 주택인 운정 한울마을 6단지에 입주했다. 건설 현장에서 착실하게 일해온 남편과 아이 둘을 낳으면서 예비번호 18번을 받고 1년 반을 기다린 결과였다. “내 집 마련하라고 하늘이 주신 기회”라고 생각했다.하지만 두달 뒤 통보받은 분양가는 4억6천만원이었다. 10년 분양전환 공공임대는 만기분양 이전이라도 5년 지난 시점부터 조기분양이 가능한데, 파주 운정에선 9년차인 2020년 조기분양을 했다. 이때 분양가가 2억3천만원이었는데 몇달 사이 2배로 오른 것이다. “저희가 4억6천만원을 마련할 수 있었으면 신혼부부 특별공급으로 민간분양 아파트에 들어갔겠죠. 10년 된 아파트 분양가가 주변 신축 분양가보다 비싼 게 말이 되나요? 정부한테 사기당한 것 같아요.”파주 운정은 문재인 정부 부동산 정책의 대표적인 실책으로 꼽히는 ‘핀셋 규제’와 ‘풍선 효과’의 직격탄을 맞았다. 대출 규제 등이 적용되는 ‘조정대상지역’을 32곳 신규 지정해 69곳으로 늘린 2020년 6·17 대책 때 2기 새도시가 있는 김포와 파주가 제외되면서 일단 사고 보자는 추격매수 수요가 이곳으로 대거 쏠렸다. 이에 한울 6단지 인근 한빛마을 4단지 롯데캐슬파크(전용 84㎡)의 실거래가는 6·17 대책 이전에 4억원대였는데, 이후 5억원대로 뛰었고, 지난해 최고가가 8억원으로 치솟았다. 한국토지주택공사(LH·엘에이치)에 따르면, 연도별로 순차 분양전환을 앞둔 10년 분양전환 공공임대 주택이 수도권에만 48개 단지 1만2433호에 달한다. 엘에이치 인천지역본부는 “파주의 경우 지티엑스(GTX) 노선 관련 호재 등 최근 거래 시세 급등으로 가격 격차가 발생한 것으로 추정된다”고 밝혔다.2017년 화성 동탄의 10년 분양전환 공공임대에 입주한 이석주(39)씨는 공공주택 제도가 자산형성을 가로막고 있다고 했다. 입주민들은 올해 이 주택을 조기분양 받을 수 있게 되는데, 주변 시세 7억5천만원을 기준으로 분양전환가가 6억원 정도 될 것으로 보고 있다. “입주 때 공급가(일종의 분양원가)가 2억5천만원이었어요. 이게 6억원이 됐으면 3억5천만원은 엘에이치가 가져가는 거잖아요. 자산이 없어서 민간분양 못 받고 공공임대로 들어왔는데, 3억원대 민간분양 받은 사람들은 시세 6억원이 자산이 되는데 저는 부채가 될 판이에요. 이렇게 차이가 나도 됩니까?”\n\n\n\n왼쪽부터 민간분야보다 비싼 분양전환가에 화난 박혜민(가명)씨, ‘벼락거지’가 됐음을 체감한다는 윤영민(가명·42)씨위기: 보증금도 없는 사람들유권자들은 이렇게 시세를 반영해 치솟고 있는 공공주택 분양가 등에 대한 공약을 요구하고 있지만, 윤석열 국민의힘 후보는 재개발·재건축 완화로 민간공급을 확대하겠다는 기조다. 이재명 더불어민주당 후보도 기본주택 100만호 외에 민간공급을 위한 규제 완화를 적극 검토한다는 입장이다. 그러나 민간공급 확대는 재개발 지역 무주택 세입자들의 ‘주거 위기’로 직결될 우려가 크다.홍유정(가명·32)씨는 아픈 노모와 둘이 살면서 ‘스리잡’으로 월 200만원 정도 번다. 오래전 가족이 남긴 부채도 떠안고 있다. 중학교 1학년이던 2003년부터 성북구 장위동의 반지하에 살았는데, 이 지역이 민간 재개발에 들어가면서 지난해 3월 집에서 “쫓겨났다.” 세입자 이주비 1600만원은 체납 임대료를 갚느라 집주인에게 넘어갔다. “(재개발 조합이 운영하는) 이주센터에서 공공임대 주택을 신청하라고 했는데, 보증금이 2300만원부터 4천만원까지 있더군요. ‘당신들 쫓겨나는 거니까 나라에서 이렇게 지원해주는 거다’라고 해서 저는 보증금을 해결해주는 줄 알았는데, 그만큼 돈이 있어야 한다는 얘기였어요.”노숙의 위기에 처한 홍씨 모녀를 구한 건 성북주거복지센터였다. 지난해 12월23일 센터의 지원으로 보증금 50만원, 월세 35만원인 ‘무보증’ 매입임대에 입주했다. 임대주택이지만 20년 거주 기간이 보장되는 이 집을 두고 홍씨는 “내 집”, “로또”라는 표현을 썼다. “저는 지금까지 실패한 사람이라고 생각했거든요. 그런데 이제 5만원이라도 적금 들고 실비보험이라도 들려고 해요.” 김선미 성북주거복지센터장은 “일본처럼 조세를 부담능력에 맞게 ‘응능’ 부담하고, 행정 서비스를 받는 이익의 양에 따라 ‘응익’ 부담하는 제도가 아니라 시세를 기준으로 보증금을 결정하다 보니 보증금이 없어서 공공임대 입주를 포기하는 분들이 적지 않다”고 말했다.[유권자와 함께하는 대선 정책 ‘나의 선거, 나의 공약’]②집을 포기했다: 23명의 이야기 下편“너네 집 전세야?” 월급으론 따라갈 수 없는 집값https://www.hani.co.kr/arti/politics/politics_general/1026671.html진명선 노지원 김용희 기자 torani@hani.co.kr※여기를 클릭하면 ‘나의 선거, 나의 공약-집을 포기했다’ 신문기사를 볼 수 있습니다.\n\n\n\n※&lt;한겨레&gt;가 유권자와 함께하는 대선 기획 ‘나의 선거, 나의 공약’은 취재원 실명 보도를 원칙으로 합니다. 공익적 가치를 구현하고자 실명 취재에 응한 시민의 불이익 위험을 최소화하기 위해 &lt;한겨레&gt; 누리집과 포털사이트 네이버에 전송되는 한겨레 기사의 댓글창을 닫습니다.\n\t\t]',
 "[\n\n\n\n\n최근 서울 아파트 매매 시장에 이어 전세 시장도 가격이 내려가는 모습이 나타나며, 전셋값도 약세로 돌아설 수 있단 전망이 나오고 있습니다.서울부동산정보광장의 전세 실거래가를 보면, 서울 일부 단지 등의 신규 전세 계약에서 앞선 거래보다 가격이 하락한 사례가 잇따라 나타났습니다.또 한국부동산원의 서울 아파트 전세수급지수도 94.5로 5주 연속 기준선 100을 밑돌아 수요보다 공급이 많았고, 지수 자체도 하락세입니다.이는 2년 4개월 만의 최저치인데, 최근 대출 규제로 신규 수요가 줄며, 세입자 구하기가 어려운 집주인들이 값을 내리는 것으로 풀이됩니다.하지만 계약갱신청구권을 고려한 집주인들이 4년 치를 한꺼번에 올리려는 경우도 여전해 전셋값 안정을 낙관하긴 이르단 지적도 나옵니다.※ '당신의 제보가 뉴스가 됩니다'[카카오톡] YTN 검색해 채널 추가[전화] 02-398-8585[메일] social@ytn.co.kr\n\t\t]",

In [ ]:
news_df.loc[0, 'link']

'https://n.news.naver.com/mnews/article/001/0012950872?sid=101'

In [ ]:
news_df['name'].unique()

array(['연합뉴스', '뉴시스', 'TV조선', '머니S', '매일경제', '뉴스1', '한국경제', '더팩트',
       '매경이코노미', '아시아경제', '국민일보', '머니투데이', '서울경제', '헤럴드경제', '경향신문',
       '동아일보', '조선일보', '세계일보', 'CJB청주방송', '스포츠경향', '데일리안', '중앙일보', '주간동아',
       '조선비즈', 'SBS', '이데일리', '채널A', '아이뉴스24', '시사저널', '파이낸셜뉴스', '대전일보',
       '연합뉴스TV', '여성신문', '문화일보', 'KBS', '한국경제TV', '노컷뉴스', '디지털타임스',
       '부산일보', '한국일보', 'SBS Biz', '한경비즈니스', 'MBN', '스타뉴스', '한겨레', 'YTN'],
      dtype=object)

In [ ]:
news_df['name'].value_counts()

연합뉴스       20
뉴스1        18
뉴시스        18
아시아경제      16
한국경제       15
매일경제       13
중앙일보       13
국민일보       11
조선일보       10
이데일리        9
서울경제        9
경향신문        9
동아일보        9
머니투데이       8
파이낸셜뉴스      7
세계일보        7
조선비즈        7
헤럴드경제       7
더팩트         7
매경이코노미      6
아이뉴스24      6
연합뉴스TV      5
디지털타임스      4
머니S         4
TV조선        4
문화일보        4
데일리안        4
노컷뉴스        4
KBS         3
SBS         3
채널A         3
시사저널        3
대전일보        3
CJB청주방송     3
여성신문        3
한국일보        3
SBS Biz     2
주간동아        2
한국경제TV      2
스포츠경향       2
부산일보        1
한경비즈니스      1
MBN         1
스타뉴스        1
한겨레         1
YTN         1
Name: name, dtype: int64

In [ ]:
import numpy as np

In [ ]:
np.count(news_df['name'].values)

AttributeError: ignored

In [ ]:
news_df['name'].value_counts().sum()

292

In [ ]:
news_df.loc[249, 'content'] = '[서울=뉴시스] 5일 한국감정원에 따르면, 지난 2일 기준 서울 아파트 매매가격이 0.1% 상승 했다. 전국은 지난주 대비 상승폭이 축소됐다. (그래픽=안지혜 기자)'

In [ ]:
news_df.loc[249, 'content']

'[서울=뉴시스] 5일 한국감정원에 따르면, 지난 2일 기준 서울 아파트 매매가격이 0.1% 상승 했다. 전국은 지난주 대비 상승폭이 축소됐다. (그래픽=안지혜 기자)'

In [ ]:
news_df = news_df[news_df['name'].str.strip().astype(bool)]

In [ ]:
news_df[news_df['name'].isna()]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
news_df[news_df['name'] == '']

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 0 to 1334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1334 non-null   object
 1   name     1334 non-null   object
 2   title    1334 non-null   object
 3   content  1334 non-null   object
 4   link     1334 non-null   object
dtypes: object(5)
memory usage: 62.5+ KB

In [ ]:
news_df.reset_index(drop = True, inplace = True)
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1334 entries, 0 to 1333
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     1334 non-null   object
 1   name     1334 non-null   object
 2   title    1334 non-null   object
 3   content  1334 non-null   object
 4   link     1334 non-null   object
dtypes: object(5)
memory usage: 52.2+ KB

In [ ]:
news_df[news_df['title'].str.contains('홈즈')]

Empty DataFrame
Columns: [date, name, title, content, link]
Index: []

In [ ]:
outputFileName = f'{s_date} ~ {e_date}.xlsx'
news_df.to_excel(outputFileName, sheet_name='sheet1')